
<a *ngIf="reloadscreenblankit!='yes'">
<!-- class1 is ad space left-->
<div class="class6" >
</div>
<!-- class2 is center main content -->
<div class="class7" >
  <!--  <a style="text-align:center;"> <h2> </h2> </a> -->

<!-- Age store -->
<br> <h3> Please complete these fields for a personalized experience. </h3>  <br>

<mat-stepper  class="demo-stepper" orientation="vertical" [linear]="true" #stepper>
  <mat-step [stepControl]="zeroFormGroup">
    <form [formGroup]="zeroFormGroup">
      <ng-template matStepLabel>Getting to Know You </ng-template>
      <mat-form-field class="demo-form-field1" appearance="fill">
        <mat-label>Zipcode</mat-label>
        <input matInput (keypress)="numberOnly($event)" (change)="boxevent10($event)" type="text"  #postalCode maxlength="5"
               placeholder="Ex. 94105" value="94043" required [(ngModel)]="zipuserentered" [ngModelOptions]="{standalone: true}">
        <mat-hint align="start">Format: Five digit zip code. First digit entered should not be a zero. For example: if your zip code is 03103 in New Hampshire, then please enter 3103.</mat-hint>
      </mat-form-field>

    <br>  <br> <br>  <br> <a> Please select your age </a>  <br>
      <mat-form-field class="demo-form-field1" appearance="fill">
        <mat-label>Age range (years)</mat-label>
        <select matNativeControl required [(ngModel)]=agestore1 [ngModelOptions]="{standalone: true}">
            <option value="18 to 23 year">18 to 23 year old</option> <option value="24 to 29 years">24 to 29 year old</option> <option value="30 to 35 years">30 to 35 year old</option> <option value="36 to 40 years">36 to 40 year old</option> <option value="41 to 49 years">41 to 49 year old</option> <option value="50 to 59 years">50 to 59 year old</option> <option value="60 to 65 years">60 to 65 year old</option> <option value="66 to 70 years">66 to 70 year old</option> <option value="71+ years">71+ year old</option>
        </select>
      </mat-form-field>
      <br>  <a> Please select your gender </a> <br>
      <mat-form-field class="demo-form-field1" appearance="fill">
        <mat-label>Gender</mat-label>
        <select matNativeControl required [(ngModel)]="genderstore1" [ngModelOptions]="{standalone: true}"> <br>
          <option value="Male">Male</option> <option value="Female">Female</option> <option value="LGBTQIA+">LGBTQIA+</option> <br>
        </select>
      </mat-form-field>

      <br>   <mat-card>
      <mat-card-content>
        <section class="example-section">
          <input type="checkbox" class="example-margin" [(ngModel)]="marketingemail" [ngModelOptions]="{standalone: true}"
                 (change)="boxevent20($event)">Yes, I would like to receive emails on Midterm Elections candidates survey results and community members connect requests.
        </section>
      </mat-card-content>
    </mat-card>

      <br> <a> Education </a> <br>
      <mat-form-field class="demo-form-field1" appearance="fill">
        <mat-label>Education</mat-label>
        <select matNativeControl required [(ngModel)]="educationstore1" [ngModelOptions]="{standalone: true}"
                (change)="agestore($event)"   (change)="zipstore($event)"> <br>
          <option value="Less than a high school diploma">Less than a high school diploma</option> <option value="High school diploma">High school diploma</option> <option value="Some college or associate's degree">Some college or associate's degree</option> <option value="Bachelor's degree">Bachelor's degree</option> <option value="Master's degree">Master's degree</option> <option value="Greater than a Master's degree">Greater than a Master's degree</option>
        </select>
      </mat-form-field>


      <mat-card>
        <mat-card-content>
          <section class="example-section">
            <input type="checkbox" class="example-margin" [(ngModel)]="veteran" [ngModelOptions]="{standalone: true}"
                   (change)="boxevent8($event)"> Please check box if you are an <b> armed forces veteran. </b><br>
          </section>
        </mat-card-content>
      </mat-card>

      <!--    <mat-card>
        <mat-card-content>
          <section class="example-section">
            <input type="checkbox" class="example-margin" [(ngModel)]="mentoragree" [ngModelOptions]="{standalone: true}"
                   (change)="boxevent5($event)">Are you interested in <b> training a Mentee </b> in your occupation/industry/education?<br>
          </section>
        </mat-card-content>
      </mat-card>
      <mat-card>
        <mat-card-content>
          <section class="example-section">
            <input type="checkbox" class="example-margin" [(ngModel)]="menteeagree" [ngModelOptions]="{standalone: true}"
                   (change)="boxevent6($event)">Are you <b> looking for a Mentor </b> in your occupation/industry/education?<br>
          </section>
        </mat-card-content>
      </mat-card> -->

      <!--    <mat-card>
            <mat-card-content>
              <section class="example-section">
                <input type="checkbox" class="example-margin" [(ngModel)]="makemoneyside" [ngModelOptions]="{standalone: true}"
                       (change)="boxevent7($event)">Would you like to learn about <b> side jobs </b> and <b> community networking opportunities </b> to <b> make extra money?</b> <br>
              </section>
            </mat-card-content>
          </mat-card>  -->

      <mat-card>
        <mat-card-content>
          <section class="example-section">
            <input type="checkbox" class="example-margin" [(ngModel)]="emailshareagree" [ngModelOptions]="{standalone: true}"
                   (change)="boxevent3($event)">Please check box to confirm that we can <b> share your email address </b> with those matches whose <b> request you accept. </b>
          </section>
        </mat-card-content>
      </mat-card>



      <br>   <button mat-button (click)="reloadComponent()" >Reset Form Content(s)</button>  &nbsp; &nbsp; &nbsp; &nbsp;

      <a *ngIf="ziperrorflag=='yes'">
        <b> <br> Please enter a valid zipcode. </b>
        <button  mat-button (click)="reloadComponent()" >Reset This Page</button>
      </a>
      <div *ngIf="zipcorrflag=='yes'">
        <!--    <button mat-button [disabled]="toggleBool0" (click)="seccompleteflag()" (click)="seccompleteA()" routerLink="/2022MidtermElections/USSenate"   matStepperNext>Next</button> -->
        <button mat-button [disabled]="toggleBool0" (click)="seccompleteflag()" (click)="locationreload()"  matStepperNext>Next</button>
      </div>
      <a *ngIf="vetflag=='yes'">
        <br> <b> Thank you for your service and sacrifices! </b>
      </a>
    </form>
  </mat-step>
</mat-stepper>


</div>
<!-- class3 is ad space right-->
<div class="class8" >
</div>

</a>
