<a> <b> Ways of Helping Your Community </b></a> <br>
<a> Page 1 of 2 </a> <br>

<br> <p *ngIf="profileFflag=='yes' && whichtab=='' && webpagevalue==''"> <a> We are loading your personalized results.  Meanwhile, please read below.</a></p>

<br> <p *ngIf="profileAflag=='yes' && whichtab=='' && webpagevalue==''"> <a> We are loading your personalized results.  Meanwhile, please read below.</a> </p>

<!-- Main content -->
<ng-container *ngIf="selectorflag == 1">
<h2> <b> National Health Service Corps Loan Repayment Program </b> </h2> <br>

<p> The National Health Service Corps Loan Repayment Program recruits health professionals to work in selected health professional shortage areas and, in return, helps repay their qualifying educational loans. </p>
<br> <p>  In addition to loan repayment, these clinicians receive a competitive salary, some tax relief benefits, and a chance to have a significant impact on a <b> community </b>. Maximum repayment during the required initial two-year contract is $25,000 each year. Participants may extend loan repayments beyond two years, one year at a time, to the extent they have unpaid qualifying educational loans and serve at an eligible site.</p>

<br> <h3>Eligbility</h3>  <p> To be eligible for this benefit program, you must be a U.S. citizen or national.  Practice in one of the following disciplines: </p>
<ol> <li>   Primary Care Physician (MD or DO)   </li>
  <li>  Dentist (DDS or DMD)   </li>
  <li>   Primary Care Certified Nurse Practitioner (NP)   </li>
  <li>   Certified Nurse-Midwife (CNM)   </li>
  <li>   Primary Care Physician Assistant (PA)   </li>
  <li>   Registered Dental Hygienist (RDH)   </li>
  <li>   Health Service Psychologist (HSP)   </li>
  <li>   Licensed Clinical Social Worker (LCSW)   </li>
  <li>  Psychiatric Nurse Specialist (PNS)   </li>
  <li>  Marriage and Family Therapist (MFT)   </li>
  <li>   Licensed Professional Counselor (LPC)   </li>
  <li>  Be licensed to practice in the state in which you will serve as a Corps member.   </li>
  <li>  Have unpaid government or commercial loans for school tuition, reasonable educational expenses and reasonable living expenses, segregated from all other debts (that is, not consolidated with non-educational loans).   </li>
  <li>   Currently be working in a facility that is:   </li>
  <li>   An NHSC-approved facility, or   </li>
  <li>   Located in a Health Professional Shortage Area.   </li> </ol>

<br> <br> <a href="https://www.benefits.gov/benefit/447" target="_blank"> Click to Learn More</a> <br>
</ng-container>

<ng-container *ngIf="selectorflag == 2">
  <h2> <b>2 National Health Service Corps Loan Repayment Program </b> </h2> <br>
</ng-container>

  <ng-container *ngIf="selectorflag == 3">
    <h2> <b>3 National Health Service Corps Loan Repayment Program </b> </h2> <br>
  </ng-container>


<!-- Continue Buttons -->
<p *ngIf="profileFflag=='yes' && whichtab==''&& webpagevalue==''">
  <button mat-button color="primary" routerLink="/Community2">Continue</button>
</p>

<p *ngIf="profileAflag=='yes' && whichtab==''&& webpagevalue==''">
  <button mat-button color="primary" routerLink="/Community2">Continue</button>
</p>

<p *ngIf="webpagevalue=='House' || webpagevalue=='Governor'|| webpagevalue=='Senate'">
  <button mat-button color="primary" routerLink="/Community2">Continue</button>
</p>

<p *ngIf="whichtab!=''">
  <button mat-button color="primary" routerLink="/Community2">Continue</button>
</p>
