<a> <b> Ways of Helping Your Community </b></a>
<a> Page 1 of 2 </a>

<p *ngIf="webpagevalue=='House' || webpagevalue=='Governor'|| webpagevalue=='Senate'">
  <button mat-button color="primary" routerLink="/Community2">Continue</button>
</p>

<p *ngIf="whichtab!=''">
  <button mat-button color="primary" routerLink="/Community2">Continue</button>
</p>

<p *ngIf="profileFflag=='yes' && whichtab=='' && webpagevalue==''">
  <a> We are loading your personalized results.  Meanwhile, please read below.</a>
</p>

<p *ngIf="profileFflag=='yes' && whichtab==''&& webpagevalue==''">
  <button mat-button color="primary" routerLink="/Community2">Continue</button>
</p>
