
<div class="class1" >
</div>
<div class="class2" >

<h1 style="text-align:center;"> <b> Ways of Helping Your Community </b></h1> <br>
<a style="text-align:center;"> Page 1 of 2 </a> <br>

  <mat-card> <a> Results Loading. <br>
    <br> Meanwhile, please read below and spread awareness about it.
    <br> This is one possible way of helping our community members.
    <br> This furthers our mission of working together to create a strong community which helps each other and people in need.</a>
    </mat-card>

  <!-- Main content -->
  <!--<ng-container *ngIf="selectorflag == 1"> -->
<br> <h2 style="text-align:center;"> <b> National Health Service Corps Loan Repayment Program </b> </h2> <br>

<p> The National Health Service Corps Loan Repayment Program recruits health professionals to work in selected health professional shortage areas and, in return, helps repay their qualifying educational loans. </p>
<br> <p>  In addition to loan repayment, these clinicians receive a competitive salary, some tax relief benefits, and a chance to have a significant impact on a <b> community </b>. Maximum repayment during the required initial two-year contract is $25,000 each year. Participants may extend loan repayments beyond two years, one year at a time, to the extent they have unpaid qualifying educational loans and serve at an eligible site.</p>

<br> <h3>Eligbility</h3>  <p> To be eligible for this benefit program, you must be a U.S. citizen or national.  Practice in one of the following disciplines: </p>
<ol> <li>   Primary Care Physician (MD or DO)   </li>
  <li>  Dentist (DDS or DMD)   </li>
  <li>   Primary Care Certified Nurse Practitioner (NP)   </li>
  <li>   Certified Nurse-Midwife (CNM)   </li>
  <li>   Primary Care Physician Assistant (PA)   </li>
  <li>   Registered Dental Hygienist (RDH)   </li>
  <li>   Health Service Psychologist (HSP)   </li>
  <li>   Licensed Clinical Social Worker (LCSW)   </li>
  <li>  Psychiatric Nurse Specialist (PNS)   </li>
  <li>  Marriage and Family Therapist (MFT)   </li>
  <li>   Licensed Professional Counselor (LPC)   </li>
  <li>  Be licensed to practice in the state in which you will serve as a Corps member.   </li>
  <li>  Have unpaid government or commercial loans for school tuition, reasonable educational expenses and reasonable living expenses, segregated from all other debts (that is, not consolidated with non-educational loans).   </li>
  <li>   Currently be working in a facility that is:   </li>
  <li>   An NHSC-approved facility, or   </li>
  <li>   Located in a Health Professional Shortage Area.   </li> </ol>

  <a style="text-align:center;" href="https://www.benefits.gov/benefit/447" target="_blank"> Click to Learn More</a> <br>
  <!--</ng-container>

  <ng-container *ngIf="selectorflag == 2">
    <h2> <b>2 National Health Service Corps Loan Repayment Program </b> </h2> <br>
  </ng-container>

    <ng-container *ngIf="selectorflag == 3">
      <h2> <b>3 National Health Service Corps Loan Repayment Program </b> </h2> <br>
    </ng-container> -->


  <!-- Continue Buttons -->
  <a style="text-align:center;">
    <mat-card>
      <button mat-button  [disabled]="delayflag1" color="primary" routerLink="/Community2"> <b> Continue </b></button>
    </mat-card> </a> <br>

</div>
<div class="class3" >
</div>
