
<a *ngIf="loadflag6=='yes'">
  <mat-tab-group animationDuration="0ms" class="menu-tab"  text-align="center" [selectedIndex]=this.tab6index>

    <mat-tab label="tab6label" >
      <ng-template mat-tab-label>
        tab6 &nbsp;
      </ng-template>
      <ng-template matTabContent>
        <app-tab6displaynav></app-tab6displaynav>   <!--  tab1A code displays -->
      </ng-template>
    </mat-tab>
    <mat-tab label="tab6Blabel">
      <ng-template mat-tab-label>
        tab6B &nbsp;
      </ng-template>
      <ng-template matTabContent>
        <app-tab6bdisplaynav></app-tab6bdisplaynav>   <!--  tab1B code displays -->
      </ng-template>
    </mat-tab>
    <mat-tab label="tab6Clabel">
      <ng-template mat-tab-label>
        tab6C &nbsp;
        <!--   <a class="example-tab-icon"> ({{tab1Clength}} matches)</a>  -->
      </ng-template>
      <ng-template matTabContent>
        <app-tab6cdisplaynav></app-tab6cdisplaynav>   <!--  tab1C code displays -->
      </ng-template>
    </mat-tab>
    <mat-tab label="tab5label">
      <ng-template mat-tab-label>
        tab5 &nbsp;
        <!--   <a class="example-tab-icon"> ({{tab1Clength}} matches)</a>  -->
      </ng-template>
      <ng-template matTabContent>
        <app-tab5displaynav></app-tab5displaynav>   <!--  tab1C code displays -->
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</a>

<router-outlet></router-outlet>
