

  <mat-tab-group animationDuration="0ms" class="menu-tab"  text-align="center" [selectedIndex]=this.tab6index>

    <mat-tab label="tab6label" >
      <ng-template mat-tab-label>Request Sent</ng-template>
      <ng-template matTabContent>
        <app-tab6displaynav></app-tab6displaynav>   <!--  tab6 code displays -->
      </ng-template>
    </mat-tab>
    <mat-tab label="tab6Blabel">
      <ng-template mat-tab-label>Request Declined</ng-template>
      <ng-template matTabContent>
        <app-tab6bdisplaynav></app-tab6bdisplaynav>   <!--  tab6B code displays -->
      </ng-template>
    </mat-tab>
    <mat-tab label="tab6Clabel">
      <ng-template mat-tab-label>Reconnect with Expired Request</ng-template>
      <ng-template matTabContent>
        <app-tab6cdisplaynav></app-tab6cdisplaynav>   <!--  tab6C code displays -->
      </ng-template>
    </mat-tab>
    <mat-tab label="tab5label">
      <ng-template mat-tab-label>Profiles Disliked</ng-template>
      <ng-template matTabContent>
        <app-tab5displaynav></app-tab5displaynav>   <!--  tab5 code displays -->
      </ng-template>
    </mat-tab>
  </mat-tab-group>


<router-outlet></router-outlet>
