<a> <b> Ways of Helping Your Community </b></a> <br>
<a> Page 2 of 2 </a> <br>

<br> <p *ngIf="profileFflag=='yes' && whichtab=='' && webpagevalue==''"> <a> We are loading your personalized results.  Meanwhile, please read below.</a></p>
<br> <p *ngIf="profileAflag=='yes' && whichtab=='' && webpagevalue==''"> <a> We are loading your personalized results.  Meanwhile, please read below.</a></p>

<!-- Main content -->
<h2> <b> Business and Industrial Loans </b> </h2> <br>

<p> The purpose of the Business & Industrial (B&I) Guaranteed Loan Program is to improve, develop, or finance business, industry, and employment and improve the economic and environmental climate in rural communities.
<br> <p> This purpose is achieved by bolstering the existing private credit structure through the guarantee of quality loans which will <b>provide lasting community benefits.</b>  </p>

<br> <h3> Eligibility: </h3>
<br> <p> A borrower may be: </p>
<ol> <li>  An individual </li>
  <li> A cooperative organization, corporation, partnership, or other legal entity organized and operated on a profit or nonprofit basis </li>
  <li> An Indian tribe on a Federal or state reservation or other Federally recognized tribal group, or </li>
  <li> A public body. </li> </ol>

<br> <p>  A borrower must be engaged in or proposing to engage in a business that will: </p>
<ol> <li> Provide employment </li>
  <li> Improve the economic or environmental climate </li>
  <li>Promote the conservation, development, and use of water for aquaculture, or </li>
  <li> Reduce reliance on nonrenewable energy resources by encouraging the development and construction of renewable energy systems. </li>
  <li> Individual borrowers must be citizens of the United States or reside in the U.S. after being legally admitted for permanent residence. Corporations or other non-public body organization-type borrowers must be at least 51 percent owned by persons who are either citizens of the U.S. or reside in the U.S. after being legally admitted for permanent residence. B&I loans are normally available in rural areas. </li> </ol>

<br> <h3> Loan terms </h3>
<p> The interest rate for the guaranteed loan will be negotiated between the lender and the applicant and may be either fixed or variable as long as it is a legal rate. Interest rates are subject to Agency review and approval. The variable interest rate may be adjusted at different intervals during the term of the loan, but the adjustments may not be more often than quarterly. <br>
  <br>  The annual renewal fee is paid once a year and is required to maintain the enforceability of the guarantee as to the lender. There is also an upfront guarantee fee of three percent. A limited amount of loans may be guaranteed with a two percent fee, subject to meeting regulatory requirements. <br>
  <br>  The maximum repayment for loans on real estate will not exceed 30 years; machinery and equipment repayment will not exceed the useful life of the machinery and equipment purchased with loan funds or 15 years, whichever is less; and working capital repayment will not exceed seven years. <br>
  <br>  The total amount of Agency loans to one borrower must not exceed $10 million. The Administrator may, at the Administrator's discretion, grant an exception to the $10 million limit for loans of $25 million under certain circumstances. The Secretary may approve guaranteed loans in excess of $25 million, up to $40 million, for rural cooperative organizations that process value-added agricultural commodities. <br>
</p>

<br> <br> <a href="https://www.benefits.gov/benefit/4735" target="_blank"> Click to Learn More</a> <br>

<!-- Continue Buttons -->
<p *ngIf="profileFflag=='yes' && whichtab=='' && webpagevalue==''">
  <button mat-button color="primary" routerLink="/Meetup/Home">Continue</button>
</p>

<p *ngIf="profileAflag=='yes' && whichtab==''&& webpagevalue==''">
  <button mat-button color="primary" routerLink="/2022MidtermElections/USSenate">Continue</button>
</p>

<p *ngIf="webpagevalue=='House'">
  <button mat-button color="primary" routerLink="/2022MidtermElections/USHouse">Continue to see results of the selected candidate</button>
</p>

<p *ngIf="webpagevalue=='Senate'">
  <button mat-button color="primary" routerLink="/2022MidtermElections/USSenate">Continue to see results of the selected candidate</button>
</p>

<p *ngIf="webpagevalue=='Governor'">
  <button mat-button color="primary" routerLink="/2022MidtermElections/StateExecutiveOffices">Continue to see results of the selected candidate</button>
</p>

<p *ngIf="whichtab=='homeconnect'">
  <a> Thank you. Your <b> CONNECT </b> response has been recorded. </a>
  <button mat-button color="primary" routerLink="/Meetup/Home">Continue to view profiles</button>
</p>

<p *ngIf="whichtab=='homedislike'">
  <a> Thank you. Your <b> DISLIKE </b> response has been recorded. </a>
  <button mat-button color="primary" routerLink="/Meetup/Home">Continue to view profiles</button>
</p>

<p *ngIf="whichtab=='homeaccept'">
  <a> Thank you. Your <b> ACCEPT REQUEST </b> response has been recorded. </a>
  <button mat-button color="primary" routerLink="/Meetup/Home">Continue to view profiles</button>
</p>

<p *ngIf="whichtab=='homedecline'">
  <a> Thank you. Your <b> DECLINE REQUEST </b> response has been recorded. </a>
  <button mat-button color="primary" routerLink="/Meetup/Home">Continue to view profiles</button>
</p>

<p *ngIf="whichtab=='tab1connect'">
  <a> Thank you. Your <b> CONNECT </b> response has been recorded. </a>
  <button mat-button color="primary" routerLink="/Meetup/Tab1">Continue to view profiles</button>
</p>

<p *ngIf="whichtab=='tab1dislike'">
  <a> Thank you. Your <b> DISLIKE </b> response has been recorded. </a>
  <button mat-button color="primary" routerLink="/Meetup/Tab1">Continue to view profiles</button>
</p>

<p *ngIf="whichtab=='tab3connect'">
  <a> Thank you. Your <b> CONNECT </b> response has been recorded. </a>
  <button mat-button color="primary" routerLink="/Meetup/Tab3">Continue to view profiles</button>
</p>

<p *ngIf="whichtab=='tab3dislike'">
  <a> Thank you. Your <b> DISLIKE </b> response has been recorded. </a>
  <button mat-button color="primary" routerLink="/Meetup/Tab3">Continue to view profiles</button>
</p>

<p *ngIf="whichtab=='tab3accept'">
  <a> Thank you. Your <b> ACCEPT REQUEST </b> response has been recorded. </a>
  <button mat-button color="primary" routerLink="/Meetup/Tab3">Continue to view profiles</button>
</p>

<p *ngIf="whichtab=='tab3decline'">
  <a> Thank you. Your <b> DECLINE REQUEST </b> response has been recorded. </a>
  <button mat-button color="primary" routerLink="/Meetup/Tab3">Continue to view profiles</button>
</p>

<p *ngIf="whichtab=='tab6connect'">
  <a> Thank you. Your <b> CONNECT </b> response has been recorded. </a>
  <button mat-button color="primary" routerLink="/Meetup/Tab6">Continue to view profiles</button>
</p>

<p *ngIf="whichtab=='tab6dislike'">
  <a> Thank you. Your <b> DISLIKE </b> response has been recorded. </a>
  <button mat-button color="primary" routerLink="/Meetup/Tab6">Continue to view profiles</button>
</p>
