.mat-tab-label-active {
  color: #00ADEE !important;
}

.icontext
{  justify-content: left;
}


.class1{
  width: 25%;
  float: left;
  height: 100%;
  border-right: 5px ;
  padding: 15px;
}

.class2{
  width: 50%;
  float: left;
  height: 100%;
  padding: 15px;
}

.class3 {
  width: 25%;
  float: left;
  height: 100%;
  border-left: 5px ;
  padding: 15px;
}

@media screen and (max-width: 600px) {
  .class1,.class3 {
    display: none;
  }
  .class2 {
    width: 100%;
  }
  .class5 {
    font-size: 9px;
  }
}
