
<!-- Display the main toolbar for user selection of either Midterm or Meetup -->

<!-- if user enters some steps of the form, but not all, then allow user to resume where they left off in the form entering
steps, espcially for profile picture there could be interuption. tell user they can complete all these steps and then go to edit\
 section to make changes to previous steps -->

<!-- go the appropariate form Step which is incomplete-->
<a *ngIf="authenticator.route != 'authenticated'">
  <nav mat-tab-nav-bar>
    <img src="assets/Logo.ico" routerLink="/" alt="SoWhat Vote!" style="float:left;width:80px;height:50px;">
    <a mat-tab-link class="class5" routerLink="/MyAccount" (click)="midtermclickedI()"><b>2022 Elections Vote</b></a>
    <a mat-tab-link class="class5" routerLink="/MyAccount" (click)="meetupclickedI()"><b>Meetup</b></a>
    <!--  <a mat-tab-link class="class5" ><b>Blog</b></a> -->
      <a mat-tab-link> <mat-icon class="icontext" (click)="myaccountclicked()" routerLink="/MyAccount">account_circle</mat-icon> </a>
    </nav>
  </a>

  <!-- first time user, their profile does not even exist in the datinguserdb table, so no profile flags. -->
<a *ngIf="authenticator.route === 'authenticated' && usernoexist=='yes'">
  <nav mat-tab-nav-bar>
    <img src="assets/Logo.ico" routerLink="/" alt="SoWhat Vote!" style="float:left;width:80px;height:50px;">
    <a mat-tab-link class="class5" routerLink="/Meetup/Step0" (click)="midtermclickedA()"><b>2022 Elections Vote</b></a>
    <a mat-tab-link class="class5" routerLink="/Meetup/Step0" (click)="meetupclickedA()"><b>Meetup</b></a>
    <!--   <a mat-tab-link class="class5" ><b>Blog</b></a> -->
      <a mat-tab-link> <mat-icon class="icontext" (click)="myaccountclicked()" routerLink="/MyAccount">account_circle</mat-icon> </a>
      <!--   <mat-icon class="icontext" aria-hidden="false">logout</mat-icon> -->
  </nav>
</a>

<!--<ng-container *ngIf="authenticator.route === 'authenticated'"> -->
<!-- go the appropariate form Step which is incomplete-->
<a *ngIf="authenticator.route === 'authenticated' && profilecompPartA=='no' ">
  <nav mat-tab-nav-bar>
    <img src="assets/Logo.ico" routerLink="/" alt="SoWhat Vote!" style="float:left;width:80px;height:50px;">
    <a mat-tab-link class="class5" routerLink="/Meetup/Step0" (click)="midtermclickedA()"><b>2022 Elections Vote</b></a>
    <a mat-tab-link class="class5" routerLink="/Meetup/Step0" (click)="meetupclickedA()"><b>Meetup</b></a>
    <!--   <a mat-tab-link class="class5" ><b>Blog</b></a> -->
    <a mat-tab-link> <mat-icon class="icontext" (click)="myaccountclicked()" routerLink="/MyAccount">account_circle</mat-icon> </a>
    <!--   <mat-icon class="icontext" aria-hidden="false">logout</mat-icon> -->
  </nav>
</a>

<!--<a *ngIf="profilecompPartD=='no' && profilecompPartA=='yes' && authenticator.route === 'authenticated' "> -->
<a *ngIf="profilecompPartA=='yes' && profilecompPartD=='no' && authenticator.route === 'authenticated'">
<nav mat-tab-nav-bar>
  <img src="assets/Logo.ico" routerLink="/" alt="SoWhat Vote!" style="float:left;width:80px;height:50px;">
    <a mat-tab-link class="class5" routerLink="/2022MidtermElections/USSenate" (click)="midtermclicked()"><b>2022 Elections Vote</b></a>
    <a mat-tab-link class="class5" routerLink="/Meetup/Step3" (click)="meetupclicked()"><b>Meetup</b></a>
  <!--   <a mat-tab-link class="class5" ><b>Blog</b></a> -->
    <a mat-tab-link> <mat-icon class="icontext" (click)="myaccountclicked()" routerLink="/MyAccount">account_circle</mat-icon> </a>
  </nav>
</a>

<a *ngIf="profilecompPartD=='yes' && profilecompPartE=='no' && authenticator.route === 'authenticated'">
  <nav mat-tab-nav-bar>
    <img src="assets/Logo.ico" routerLink="/" alt="SoWhat Vote!" style="float:left;width:80px;height:50px;">
    <a mat-tab-link class="class5" routerLink="/2022MidtermElections/USSenate" (click)="midtermclicked()"><b>2022 Elections Vote</b></a>
    <a mat-tab-link class="class5" routerLink="/Meetup/Step4" (click)="meetupclicked()"><b>Meetup</b></a>
    <!--   <a mat-tab-link class="class5" ><b>Blog</b></a> -->
    <a mat-tab-link> <mat-icon class="icontext" (click)="myaccountclicked()" routerLink="/MyAccount">account_circle</mat-icon> </a>
  </nav>
</a>

<a *ngIf="profilecompPartE=='yes' && profilecompPartF=='no' && authenticator.route === 'authenticated'">
  <nav mat-tab-nav-bar>
    <img src="assets/Logo.ico" routerLink="/" alt="SoWhat Vote!" style="float:left;width:80px;height:50px;">
    <a mat-tab-link class="class5" routerLink="/2022MidtermElections/USSenate" (click)="midtermclicked()"><b>2022 Elections Vote</b></a>
    <a mat-tab-link class="class5" routerLink="/Meetup/Step5" (click)="meetupclicked()"><b>Meetup</b></a>
    <!--    <a mat-tab-link class="class5" ><b>Blog</b></a> -->
    <a mat-tab-link> <mat-icon class="icontext" (click)="myaccountclicked()" routerLink="/MyAccount">account_circle</mat-icon> </a>
  </nav>
</a>

<a *ngIf="authenticator.route === 'authenticated' && profilecompPartF=='yes' ">
  <nav mat-tab-nav-bar>
    <img src="assets/Logo.ico" routerLink="/" alt="SoWhat Vote!" style="float:left;width:80px;height:50px;">
    <a mat-tab-link class="class5" routerLink="/2022MidtermElections/USSenate" (click)="midtermclicked()"><b>2022 Elections Vote</b></a>
    <a mat-tab-link class="class5" routerLink="/Meetup/Home" (click)="meetupclicked()"><b>Meetup</b></a>
    <!--   <a mat-tab-link class="class5" ><b>Blog</b></a> -->
    <a mat-tab-link> <mat-icon class="icontext" (click)="myaccountclicked()" routerLink="/MyAccount">account_circle</mat-icon> </a>
  </nav>
</a>
<!-- when a from all steps are fully complete the Homepage router link is made available when Meetup button is clicked and above profilecompPartF is always activated -->



<!-- when Meetup button is clicked on toolbar, below if statement will dictate toolbar display. this will also remove duplicate toolbar from below section  -->
<a *ngIf="profilecompPartF=='yes' && meetupflag=='yes' && authenticator.route === 'authenticated' ">
  <nav mat-tab-nav-bar>
    <a mat-tab-link class="class5" routerLink="/Meetup/Home"><b>Home</b></a>
    <a mat-tab-link class="class5" routerLink="/Meetup/AllMembers"><b>Browse All Members</b></a>
    <a mat-tab-link class="class5" routerLink="/Meetup/MutuallyAccepted"><b>Mutually Accepted Request</b></a>
    <a mat-tab-link class="class5" routerLink="/Meetup/RequestReceived"><b>Connect Request Received</b></a>
    <a mat-tab-link class="class5" routerLink="/Meetup/RequestSent"><b>Connect Request Sent</b></a>
  </nav>
</a>

<!-- refresh button in browser clicked then below if statements will dictate toolbar display  -->
<a *ngIf="profilecompPartF=='yes'&& meetupflag=='' && routeflag=='yes' && authenticator.route === 'authenticated'">
  <nav mat-tab-nav-bar>
    <a mat-tab-link class="class5" routerLink="/Meetup/Home"><b>Home</b></a>
    <a mat-tab-link class="class5" routerLink="/Meetup/AllMembers"><b>Browse All Members</b></a>
    <a mat-tab-link class="class5" routerLink="/Meetup/MutuallyAccepted"><b>Mutually Accepted Request</b></a>
    <a mat-tab-link class="class5" routerLink="/Meetup/RequestReceived"><b>Connect Request Received</b></a>
    <a mat-tab-link class="class5" routerLink="/Meetup/RequestSent"><b>Connect Request Sent</b></a>
  </nav>
</a>


<!-- when Midterm button is clicked on toolbar, below if statement will dictate toolbar display. this will also remove duplicate toolbar from below section  -->
<a *ngIf="midtermflag=='yes' && profilecompPartA=='yes' && authenticator.route === 'authenticated'">
  <nav mat-tab-nav-bar>
    <a mat-tab-link class="class5" routerLink="/2022MidtermElections/USSenate"><b>US Senate</b></a>
    <a mat-tab-link class="class5" routerLink="/2022MidtermElections/USHouse"><b>US House</b></a>
    <a mat-tab-link class="class5" routerLink="/2022MidtermElections/StateExecutiveOffices"><b>State Offices</b></a>
    <a mat-tab-link class="class5" routerLink="/2022MidtermElections/AllProfileNames"><b>All Names</b></a>
  </nav>
</a>

<!-- refresh button in browser clicked then below if statements will dictate toolbar display  -->
<a *ngIf="midtermflag=='' && routeflagmidterm=='yes' && profilecompPartA=='yes' && authenticator.route === 'authenticated' ">
  <nav mat-tab-nav-bar>
    <a mat-tab-link class="class5" routerLink="/2022MidtermElections/USSenate"><b>US Senate</b></a>
    <a mat-tab-link class="class5" routerLink="/2022MidtermElections/USHouse"><b>US House</b></a>
    <a mat-tab-link class="class5" routerLink="/2022MidtermElections/StateExecutiveOffices"><b>State Offices</b></a>
    <a mat-tab-link class="class5" routerLink="/2022MidtermElections/AllProfileNames"><b>All Names</b></a>
  </nav>
</a>
<!-- </ng-container> -->





<!-- Don't delete, this is required for routing file -->
<router-outlet></router-outlet>

