
<!-- Display the main toolbar for user selection of either Midterm or Meetup -->

<!-- if user enters some steps of the form, but not all, then allow user to resume where they left off in the form entering
steps, espcially for profile picture there could be interuption. tell user they can complete all these steps and then go to edit\
 section to make changes to previous steps -->

<!-- go the appropariate form Step which is incomplete-->
<a *ngIf="profilecompPartA=='no'">
  <nav mat-tab-nav-bar>
    <a mat-tab-link routerLink="/Midterm/InState" (click)="midtermclicked()"> Midterm </a>
    <a mat-tab-link routerLink="/Meetup/Step0" (click)="meetupclicked()"> Meetup </a>
    <a mat-tab-link> Intro to SWV </a>
  </nav>
</a>

<a *ngIf="profilecompPartB=='no' && profilecompPartA=='yes'">
  <nav mat-tab-nav-bar>
    <a mat-tab-link routerLink="/Midterm/InState" (click)="midtermclicked()"> Midterm </a>
    <a mat-tab-link routerLink="/Meetup/Step1" (click)="meetupclicked()"> Meetup </a>
    <a mat-tab-link> Intro to SWV </a>
  </nav>
</a>

<a *ngIf="profilecompPartC=='no' && profilecompPartB=='yes'">
  <nav mat-tab-nav-bar>
    <a mat-tab-link routerLink="/Midterm/InState" (click)="midtermclicked()"> Midterm </a>
    <a mat-tab-link routerLink="/Meetup/Step2" (click)="meetupclicked()"> Meetup </a>
    <a mat-tab-link> Intro to SWV </a>
  </nav>
</a>

<a *ngIf="profilecompPartD=='no' && profilecompPartC=='yes'">
  <nav mat-tab-nav-bar>
    <a mat-tab-link routerLink="/Midterm/InState" (click)="midtermclicked()"> Midterm </a>
    <a mat-tab-link routerLink="/Meetup/Step3" (click)="meetupclicked()"> Meetup </a>
    <a mat-tab-link> Intro to SWV </a>
  </nav>
</a>

<a *ngIf="profilecompPartE=='no' && profilecompPartD=='yes'">
  <nav mat-tab-nav-bar>
    <a mat-tab-link routerLink="/Midterm/InState" (click)="midtermclicked()"> Midterm </a>
    <a mat-tab-link routerLink="/Meetup/Step4" (click)="meetupclicked()"> Meetup </a>
    <a mat-tab-link> Intro to SWV </a>
  </nav>
</a>

<a *ngIf="profilecompPartF=='no' && profilecompPartE=='yes'">
  <nav mat-tab-nav-bar>
    <a mat-tab-link routerLink="/Midterm/InState" (click)="midtermclicked()"> Midterm </a>
    <a mat-tab-link routerLink="/Meetup/Step5" (click)="meetupclicked()"> Meetup </a>
    <a mat-tab-link> Intro to SWV </a>
  </nav>
</a>

<a *ngIf="profilecompPartF=='yes'">
  <nav mat-tab-nav-bar>
    <a mat-tab-link routerLink="/Midterm/InState" (click)="midtermclicked()"> Midterm </a>
    <a mat-tab-link routerLink="/Meetup/Home" (click)="meetupclicked()"> Meetup </a>
    <a mat-tab-link> Intro to SWV </a>
  </nav>
</a>
<!-- when a from all steps are fully complete the Homepage router link is made available when Meetup button is clicked and above profilecompPartF is always activated -->


<!-- when Meetup button is clicked on toolbar, below if statement will dictate toolbar display. this will also remove duplicate toolbar from below section  -->
<a *ngIf="profilecompPartF=='yes' && meetupflag=='yes' ">
  <nav mat-tab-nav-bar>
    <a mat-tab-link routerLink="/Meetup/Home"> Home </a>
    <a mat-tab-link routerLink="/Meetup/Tab1"> Tab1  </a>
    <a mat-tab-link routerLink="/Meetup/Tab2"> Tab2 </a>
    <a mat-tab-link routerLink="/Meetup/Tab3"> Tab3  </a>
    <a mat-tab-link routerLink="/Meetup/Tab6"> Tab6  </a>
  </nav>
</a>

<!-- refresh button in browser clicked then below if statements will dictate toolbar display  -->
<a *ngIf="profilecompPartF=='yes'&& meetupflag=='' && routeflag=='yes'">
  <nav mat-tab-nav-bar>
    <a mat-tab-link routerLink="/Meetup/Home"> Home </a>
    <a mat-tab-link routerLink="/Meetup/Tab1"> Tab1  </a>
    <a mat-tab-link routerLink="/Meetup/Tab2"> Tab2 </a>
    <a mat-tab-link routerLink="/Meetup/Tab3"> Tab3  </a>
    <a mat-tab-link routerLink="/Meetup/Tab6"> Tab6  </a>
  </nav>
</a>

<!-- when Midterm button is clicked on toolbar, below if statement will dictate toolbar display. this will also remove duplicate toolbar from below section  -->
<a *ngIf="midtermflag=='yes'">
  <nav mat-tab-nav-bar>
    <a mat-tab-link routerLink="/Midterm/InState"> InState </a>
    <a mat-tab-link routerLink="/Midterm/AllUSA"> All USA  </a>
  </nav>
</a>

<!-- refresh button in browser clicked then below if statements will dictate toolbar display  -->
<a *ngIf="midtermflag=='' && routeflagmidterm=='yes'">
  <nav mat-tab-nav-bar>
    <a mat-tab-link routerLink="/Midterm/InState"> InState </a>
    <a mat-tab-link routerLink="/Midterm/AllUSA"> All USA  </a>
  </nav>
</a>

<!-- <app-tab1nav [tab1Alength]="tab1Alength"></app-tab1nav> -->

<!-- Don't delete, this is required for routing file -->
<router-outlet></router-outlet>

