
<a *ngIf="reloadscreenblankit!='yes'">
<!-- display industry and occupation dropdown -->
<br> <br> <a> Step 3 of 5: </a>

<br> <h3>Please select your occupation and industry:</h3>

<app-occupation></app-occupation>

<app-industrylevel2new></app-industrylevel2new>

<form fxLayout="column">
  <mat-form-field class="demo-form-field3" appearance="fill">
    <mat-label>The Industry You Are Associated With:</mat-label>
    <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="industrylevel1"
           (ngModelChange)="industry1store($event)" >
    <mat-autocomplete #auto="matAutocomplete"  [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option.name}}
      </mat-option>
    </mat-autocomplete>
    <mat-hint align="start">Please begin typing to see most relevant drop-down options</mat-hint>
  </mat-form-field>
</form>

<p *ngIf="toggleBool5=='true'">Please answer all questions to move to next section.</p>

<div *ngIf="toggleBool5=='false'&& editstep3flag==''">
  <button mat-button  (click)="seccompleteflag()" (click)="locationreload()" > Next</button>
</div>

<div *ngIf="toggleBool5=='false'&& editstep3flag=='yes'">
  <button mat-button (click)="seccompleteD()" routerLink="/MyAccount" > Save Responses & Go Back to MyAccount</button>
</div>
</a>
