
.banner {
  max-width: 400px;
  border: none
}

.mat-icon {
  vertical-align: text-bottom;
}

.terms-button {
  padding: 0;
  border: none;
  background: none;
  text-decoration: underline;
}

.class10{
  width: 75%;
  float: left;
  height: 100%;
  padding: 15px;
}

.class11 {
  width: 25%;
  float: left;
  height: 100%;
  padding: 15px;
}

.imtip {
  position: absolute;

}

@media screen and (max-width: 600px) {
  .class11 {
    display: none;
  }
  .class10 {
    width: 100%;
  }

}
