

<!-- class10 is center main content -->
<div class="class10" >

  <div fxLayout="row wrap" >   <!-- row wrap will help put the second mat-card in second row when screen size small. fxflex will help change the image size with smaller screens -->
    <div  fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
      <mat-card>
        <br> <br> <br>
<h1 style="text-align:center;"><b>Make your voice count!</b></h1>
        <h3 style="text-align:center;">Easily Discuss, With Friends, and Provide Your Opinion to Aspiring and Existing U.S. Senators, U.S House of Representatives, Governors and Other Elected Officials for Free.</h3>
        <a style="text-align:center;">
          <div *ngIf="authenticator.route != 'authenticated'">
            <button mat-button (click)="mimicmidtermclick()" routerLink="/MyAccount"><b>Get Started</b></button>
          </div>
          <div *ngIf="authenticator.route === 'authenticated'">
            <button mat-button (click)="mimicmidtermclick()" routerLink="/2022MidtermElections/USSenate"><b>Get Started</b></button>
          </div>
        </a>
        <br> <br> <br> <br>
    </mat-card>
    </div>

    <div  fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
      <img src="assets/F9.jpg" >

      <!--      <div *ngIf="delayflag1 == true && delayflag2 == false && delayflag3 == false && delayflag4 == false && delayflag5 == false && delayflag6 == false && delayflag7 == false && delayflag8 == false && delayflag9 == false && delayflag10 == false">
         <img src="assets/F1.jpg" >
           </div>
           <div *ngIf="delayflag1 == false && delayflag2 == true && delayflag3 == false && delayflag4 == false && delayflag5 == false && delayflag6 == false && delayflag7 == false && delayflag8 == false && delayflag9 == false && delayflag10 == false">
               <img src="assets/F2.jpg" >
           </div>
           <div *ngIf="delayflag1 == false && delayflag2 == false && delayflag3 == true && delayflag4 == false && delayflag5 == false && delayflag6 == false && delayflag7 == false && delayflag8 == false && delayflag9 == false && delayflag10 == false">
                 <img src="assets/F3.jpg" >
           </div>
           <div *ngIf="delayflag1 == false && delayflag2 == false && delayflag3 == false && delayflag4 == true && delayflag5 == false && delayflag6 == false && delayflag7 == false && delayflag8 == false && delayflag9 == false && delayflag10 == false">
               <img src="assets/F4.jpg" >
           </div>
           <div *ngIf="delayflag1 == false && delayflag2 == false && delayflag3 == false && delayflag4 == false && delayflag5 == true && delayflag6 == false && delayflag7 == false && delayflag8 == false && delayflag9 == false && delayflag10 == false">
              <img src="assets/F5.jpg" >
           </div>
           <div *ngIf="delayflag1 == false && delayflag2 == false && delayflag3 == false && delayflag4 == false && delayflag5 == false && delayflag6 == true && delayflag7 == false && delayflag8 == false && delayflag9 == false && delayflag10 == false">
           <img src="assets/F6.jpg" >
           </div>
           <div *ngIf="delayflag1 == false && delayflag2 == false && delayflag3 == false && delayflag4 == false && delayflag5 == false && delayflag6 == false && delayflag7 == true && delayflag8 == false && delayflag9 == false && delayflag10 == false">
           <img src="assets/F7.jpg" >
           </div>
           <div *ngIf="delayflag1 == false && delayflag2 == false && delayflag3 == false && delayflag4 == false && delayflag5 == false && delayflag6 == false && delayflag7 == false && delayflag8 == true && delayflag9 == false && delayflag10 == false">
           <img src="assets/F8.jpg" >
           </div>
           <div *ngIf="delayflag1 == false && delayflag2 == false && delayflag3 == false && delayflag4 == false && delayflag5 == false && delayflag6 == false && delayflag7 == false && delayflag8 == false && delayflag9 == true && delayflag10 == false">
           <img src="assets/F9.jpg" >
           </div>   -->

         </div>
     </div>
       <br> <br>
       <!-- show one quote immediately after the entry banner  -->
  <mat-card *ngIf="selectorflag == 1">
      <a style="font-family: cursive, 'Times New Roman', Times, serif;">"The effect of [a representative democracy is] to refine and enlarge the public views, by passing them through the medium of a chosen body of citizens, whose wisdom may best discern the true interest of the nation…” </a>
    <br>  <a style="float: right"> <small>-James Madison (4th U.S. President) </small></a> <br>
  </mat-card>
  <mat-card *ngIf="selectorflag == 2">
       <a style="font-family: cursive, 'Times New Roman', Times, serif;">"That government is the strongest of which every man feels himself a part." </a>
    <br>  <a style="float: right"> <small>-Thomas Jefferson (3rd U.S. President) </small></a> <br>
  </mat-card>
  <mat-card *ngIf="selectorflag == 3">
      <a style="font-family: cursive, 'Times New Roman', Times, serif;">"Politics ought to be the part-time profession of every citizen who would protect the rights and privileges of free men." </a>
    <br>  <a style="float: right"> <small>-Dwight Eisenhower (34th U.S. President) </small></a> <br>
  </mat-card>
  <mat-card *ngIf="selectorflag == 4">
     <a style="font-family: cursive, 'Times New Roman', Times, serif;">"Let us have faith that right makes might, and in that faith, let us, to the end, dare to do our duty as we understand it." </a>
    <br>  <a style="float: right"> <small>-Abraham Lincoln (16th U.S. President) </small></a> <br>
  </mat-card>
  <mat-card *ngIf="selectorflag == 5">
    <a style="font-family: cursive, 'Times New Roman', Times, serif;"> "Public sentiment is everything. With public sentiment, nothing can fail; without it nothing can succeed."</a>
    <br>  <a style="float: right"> <small>-Abraham Lincoln (16th U.S. President) </small></a> <br>
  </mat-card>
  <mat-card *ngIf="selectorflag == 6">
      <a style="font-family: cursive, 'Times New Roman', Times, serif;">"The legitimate object of government is 'to do for the people what needs to be done, but which they can not, by individual effort, do at all, or do so well, for themselves'." </a>
    <br>  <a style="float: right"> <small>-Abraham Lincoln (16th U.S. President) </small></a> <br>
  </mat-card>
  <mat-card *ngIf="selectorflag == 7">
     <a style="font-family: cursive, 'Times New Roman', Times, serif;">Sir, my concern is not whether God is on our side; my greatest concern is to be on God's side, for God is always right. </a>
    <br>  <a style="float: right"> <small>-Abraham Lincoln (16th U.S. President) </small></a> <br>
  </mat-card>
  <mat-card *ngIf="selectorflag == 8">
     <a style="font-family: cursive, 'Times New Roman', Times, serif;">Public opinion in this country is everything. </a>
    <br>  <a style="float: right"> <small>-Abraham Lincoln (16th U.S. President) </small></a> <br>
  </mat-card>

  <br> <br>

  <!-- youtube video Intro  -->
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div  fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
      <mat-card style="background-color:rgb(133,193,233)">
        <br> <br>
<a  style="line-height: 1.8"> Our mission is to empower you, to help take your community to greater heights by making it easier
  to find people with hidden talent grow in their careers, and to help easily communicate your opinion to decision makers.
</a>
        <br> <br> <br>
      </mat-card>
    </div>

    <div  fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">

      <iframe width="560" height="315" src="https://www.youtube.com/embed/AF9scBFggaQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
  </div>

  <!-- youtube video Midterm Feature  -->
 <br> <br> <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div  fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
      <mat-card>
        <br> <br> <br> <br>

        <br> <br> <br> <br> <br> <br> <br> <br>
      </mat-card>
    </div>

    <div  fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">


    </div>
  </div>

  <!-- youtube video Connect Feature  -->
  <br> <br>  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div  fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
      <mat-card>
        <br> <br> <br> <br>

        <br> <br> <br> <br> <br> <br> <br> <br>
      </mat-card>
    </div>

    <div  fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">


    </div>
  </div>

  <!-- youtube video About SoWhat  -->
  <br> <br>  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div  fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
      <mat-card>
        <br> <br> <br> <br>

        <br> <br> <br> <br> <br> <br> <br> <br>
      </mat-card>
    </div>

    <div  fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">


    </div>
  </div>



  <!-- Facebook comments  -->
 <br> <br> <mat-divider></mat-divider>
  <mat-card> <a>Express Your Voice With a Comment  </a>
  <div class="fb-comments" data-href="https://www.sowhatvote.org" data-width="100%" data-numposts="10"></div>
  </mat-card>

  <br>  <mat-divider></mat-divider>
    <p> <button mat-button class="terms-button"  routerLink="/AllProfileNames">List of all 2022 Midterm Election Candidates on SoWhat Vote!</button> </p>
    <p> <button mat-button class="terms-button"  routerLink="/Community1">Ways of Helping Your Community Part 1</button> </p>
    <p> <button mat-button class="terms-button"  routerLink="/Community2">Ways of Helping Your Community Part 2</button> </p>
  <mat-card> <a> Please share with your friends </a>
  <br>  <div class="fb-like" data-href="https://www.sowhatvote.org" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
  </mat-card>
  <mat-card> <a> Please <b> subscribe to our YouTube channel</b> to learn about ideas on how to make a difference in <b> our community</b> </a>
<br>  <div class="g-ytsubscribe" data-channelid="UCmXs05oBqO2F3LBgSxvbNsg" data-layout="full" data-count="default"></div>
  </mat-card>

 <br> <mat-divider></mat-divider>
    <p> SOWHAT VOTE!<sup><span>&#174;</span></sup> is a registered trademark with the United States Patent & Trademark Office.</p>
     <p> <mat-icon inline=true>copyright</mat-icon>2022 SoWhat Vote, LLC. All rights reserved. </p>
  <p> <button mat-button class="terms-button"  routerLink="/TermsPrivacy">Terms & Conditions and Privacy Policy</button> </p>
    <p> <button mat-button class="terms-button" onclick="gtag('set', {ads_data_redaction: true})" (click)="donotsellstore()"
                (click)="clicked2 = true;">
      <small>Do not sell my personal information </small></button> </p>
    <mat-card  *ngIf="clicked2==true"> <a id="GTM-TVJ45PB"><small>Thank you. Your response has been recorded </small></a> </mat-card>


  <small> Disclaimer: Please visit your local Secretary of State office for the latest candidate and election information. The voting in the surveys on SoWhat Vote! DOES NOT represent the actual 2022 midterm election voting results. The SoWhat Vote! survey results are only for educational purposes. </small>



  </div>
  <!-- class11 is ad space right-->
<div class="class11" >
</div>
