<p>entrypage works!</p>


<div class="class1" >
  <p>Hi</p>
</div>
<div class="class2" >
  <p>Aditya</p>
</div>
<div class="class3" >
  <p>This is Working!</p>
</div>


<br> <br> <br> <footer style="background-color:WhiteSmoke">
  <a> SOWHAT VOTE!<sup><span>&#174;</span></sup> is a registered trademark with the United States Patent & Trademark Office. </a>
  <p>  <mat-icon inline=true>copyright</mat-icon>2022 SoWhat Vote, LLC. All rights reserved. </p> <br>

  <button mat-button class="terms-button" (click)="openTerms()">Terms & Conditions and Privacy Policy</button>
</footer>

