<h1 mat-dialog-title>Confirmation of Vote Selection</h1>
<div mat-dialog-content>
  <a *ngIf="data.voteflag === 'Overally'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'Overalln'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'P0y'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P0n'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'P1y'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P1n'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'P2y'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P2n'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'P3y'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P3n'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'P4y'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P4n'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'P5y'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P5n'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'P6y'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P6n'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'P7y'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P7n'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'P8y'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P8n'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'P9n'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'P9y'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P10n'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'P10y'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P11n'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'P11y'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P12n'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'P12y'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P13n'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'P13y'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P14n'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'P14y'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P15n'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'P15y'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P16n'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'P16y'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P17y'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P17n'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'P18y'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P18n'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'P19y'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P19n'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'P20y'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P20n'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'P21y'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P21n'">You selected "Nay"</a>

  <a *ngIf="data.voteflag === 'I0y'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'I0n'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'I1y'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'I1n'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'I2y'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'I2n'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'I3y'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'I3n'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'I4y'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'I4n'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'I5y'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'I5n'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'I6y'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'I6n'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'I7y'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'I7n'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'I8n'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'I8y'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'I9n'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'I9y'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'I10n'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'I10y'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'I11n'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'I11y'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'I12n'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'I12y'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'I13n'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'I13y'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'I14n'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'I14y'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'I15n'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'I15y'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'I16n'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'I16y'">You selected "YEA"</a>

</div>

<mat-dialog-actions align="end">
  <button mat-button  mat-dialog-close>Cancel</button>   &nbsp; &nbsp; &nbsp;
  <button mat-button routerLink="/Community1" [mat-dialog-close]="data.voteflag" >Submit</button>

</mat-dialog-actions>
