<h1 mat-dialog-title>Confirmation of Vote Selection</h1>
<div mat-dialog-content>
  <a *ngIf="data.voteflag === 'Overallysen'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'Overallnsen'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'P0ysen'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P0nsen'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'P1ysen'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P1nsen'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'P2ysen'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P2nsen'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'P3ysen'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P3nsen'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'P4ysen'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P4nsen'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'P5ysen'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P5nsen'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'P6ysen'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P6nsen'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'P7ysen'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P7nsen'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'P8ysen'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P8nsen'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'P9nsen'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'P9ysen'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P10nsen'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'P10ysen'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P11nsen'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'P11ysen'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P12nsen'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'P12ysen'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P13nsen'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'P13ysen'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P14nsen'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'P14ysen'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P15nsen'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'P15ysen'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P16nsen'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'P16ysen'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P17ysen'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P17nsen'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'P18ysen'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P18nsen'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'P19ysen'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P19nsen'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'P20ysen'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P20nsen'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'P21ysen'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P21nsen'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'P22ysen'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P22nsen'">You selected "Nay"</a>
 <a *ngIf="data.voteflag === 'P23ysen'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'P23nsen'">You selected "Nay"</a>

  <a *ngIf="data.voteflag === 'I0ysen'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'I0nsen'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'I1ysen'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'I1nsen'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'I2ysen'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'I2nsen'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'I3ysen'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'I3nsen'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'I4ysen'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'I4nsen'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'I5ysen'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'I5nsen'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'I6ysen'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'I6nsen'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'I7ysen'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'I7nsen'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'I8nsen'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'I8ysen'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'I9nsen'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'I9ysen'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'I10nsen'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'I10ysen'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'I11nsen'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'I11ysen'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'I12nsen'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'I12ysen'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'I13nsen'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'I13ysen'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'I14nsen'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'I14ysen'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'I15nsen'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'I15ysen'">You selected "YEA"</a>
  <a *ngIf="data.voteflag === 'I16nsen'">You selected "Nay"</a>
  <a *ngIf="data.voteflag === 'I16ysen'">You selected "YEA"</a>

</div>

<mat-dialog-actions align="end">
  <button mat-button  mat-dialog-close>Cancel</button>   &nbsp; &nbsp; &nbsp;
    <button mat-button routerLink="/Community1" [mat-dialog-close]="data.voteflag" >Submit</button>
  <!--     <button mat-button  [mat-dialog-close]="data.voteflag">Submit</button> -->
  </mat-dialog-actions>
