
<!-- class1 is ad space left-->
<div class="class1" >
</div>
<!-- class2 is center main content -->
<div class="class2" >
  <a class="ontop_class"></a>
<!-- tab3 display -->

<a *ngIf="endofarray3=='yes'"> Sorry, no more matches. Please visit other sections.
</a>

<a *ngIf="endofarray3!='yes'"> <b> We found {{tab3length}} matches!</b> <br>

  <!-- on screen refresh-ngoinit executes this for index0 itemid -->
  <a *ngIf="initializerflag=='yes' && onetimenextflag==''">
    <a style="text-align:center;">
      <mat-card class="example-card" fxLayout="column" fxLayoutAlign="space-around center">
        <mat-card-header>
          <img src="/assets/USA_Flag.png" alt="USA Flag" style="float:right;width:80px;height:50px;">
          <mat-card-title>{{dealsPer10.profilename}}</mat-card-title>
          <mat-card-subtitle>{{dealsPer10.countyuser}}, {{dealsPer10.stateuser}}</mat-card-subtitle>
          <mat-card-subtitle>{{dealsPer10.age}}</mat-card-subtitle>
        </mat-card-header>
        <img src={{urlA}} [ngStyle]= "{'width': newWidthA + 'px', 'height':newHeightA + 'px'}">
      </mat-card>

      <mat-card class="example-card">
        <mat-card-subtitle> <b> Industry: </b> {{dealsPer10.industrylevel2}}</mat-card-subtitle>
        <mat-card-subtitle> <b> Interested in training a Mentee: </b> {{dealsPer10.mentoragree}}</mat-card-subtitle>
        <mat-card-subtitle> <b> Occupation: </b> {{dealsPer10.occup}}</mat-card-subtitle>
        <mat-card-subtitle> <b> Looking for a Mentor: </b> {{dealsPer10.menteeagree}}</mat-card-subtitle>
        <!--   <mat-card-subtitle> <b> Education: </b> {{dealsPer10.education}}</mat-card-subtitle> -->
        <mat-card-subtitle> <b> Veteran: </b> {{dealsPer10.veteran}}</mat-card-subtitle>
        <mat-card-subtitle> <b> SoWhat Vote Loyalty Points: </b> {{dealsPer10.loyalty}}</mat-card-subtitle>
        <mat-card-subtitle><b> Description: </b>{{dealsPer10.userdescription}}</mat-card-subtitle>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-subtitle> <b> Reason for Connect: </b>{{interestcateginit1}}</mat-card-subtitle>
        <mat-card-subtitle> <b> Date Request Sent: </b>{{interdatetempinit1}}</mat-card-subtitle>
      </mat-card>

      <mat-card class="example-card">
        <button mat-button [disabled]="clicked" routerLink="/Community1" (click)="declinerequesttab3(dealsPer10.userid,interestcateginittemp1); clicked = true;"
                (click)="onetimeAcceptDecline()">Decline Request</button> &nbsp; &nbsp; &nbsp; &nbsp;
        <button  mat-button [disabled]="clicked" routerLink="/Community1" (click)="acceptrequesttab3(dealsPer10.userid,interestcateginittemp1); clicked = true;"
                 (click)="onetimeAcceptDecline()">Accept Request</button> &nbsp; &nbsp; &nbsp; &nbsp; <br> <br>
        <button mat-button [disabled]="clicked" [disabled]="clicked0" (click)="initializeclick1itemidback(); clicked = true;">Previous Profile</button> &nbsp; &nbsp; &nbsp; &nbsp;
        <button mat-button [disabled]="clicked" [disabled]="clicked0" (click)="delayButton1(2000)" (click)="ontop()"
                (click)="loyaltynext()"    (click)="onetimenextnext(); clicked = true;">Next Profile</button>
      </mat-card>
    </a>
  </a>

  <!-- when user clicks on "onetimenext" connectme function index1 itemid below already loaded in browser is displayed -->
  <a *ngIf="initializerflag=='yes' && onetimenextflag=='yes'">
    <a style="text-align:center;">
      <mat-card class="example-card" fxLayout="column" fxLayoutAlign="space-around center">
        <mat-card-header>
          <img src="/assets/USA_Flag.png" alt="USA Flag" style="float:right;width:80px;height:50px;">
          <mat-card-title>{{dealsPer100.profilename}}</mat-card-title>
          <mat-card-subtitle>{{dealsPer100.countyuser}}, {{dealsPer100.stateuser}}</mat-card-subtitle>
          <mat-card-subtitle>{{dealsPer100.age}}</mat-card-subtitle>
        </mat-card-header>
        <img src={{urlAnext}} [ngStyle]= "{'width': newWidthAnext + 'px', 'height':newHeightAnext + 'px'}">
      </mat-card>

      <mat-card class="example-card">
        <mat-card-subtitle> <b> Industry: </b> {{dealsPer100.industrylevel2}}</mat-card-subtitle>
        <mat-card-subtitle> <b> Interested in training a Mentee: </b> {{dealsPer100.mentoragree}}</mat-card-subtitle>
        <mat-card-subtitle> <b> Occupation: </b> {{dealsPer100.occup}}</mat-card-subtitle>
        <mat-card-subtitle> <b> Looking for a Mentor: </b> {{dealsPer100.menteeagree}}</mat-card-subtitle>
        <!--   <mat-card-subtitle> <b> Education: </b> {{dealsPer100.education}}</mat-card-subtitle> -->
        <mat-card-subtitle> <b> Veteran: </b> {{dealsPer100.veteran}}</mat-card-subtitle>
        <mat-card-subtitle> <b> SoWhat Vote Loyalty Points: </b> {{dealsPer100.loyalty}}</mat-card-subtitle>
        <mat-card-subtitle><b> Description: </b>{{dealsPer100.userdescription}}</mat-card-subtitle>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-subtitle> <b> Reason for Connect: </b>{{interestcateginit2}}</mat-card-subtitle>
        <mat-card-subtitle> <b> Date Request Sent: </b>{{interdatetempinit2}}</mat-card-subtitle>
      </mat-card>

      <mat-card class="example-card">
        <button mat-button [disabled]="clicked1" routerLink="/Community1" (click)="declinerequesttab3(dealsPer100.userid,interestcateginittemp2); clicked1 = true;"
                (click)="viewtoggle1AcceptDecline()">Decline Request</button> &nbsp; &nbsp; &nbsp; &nbsp;
        <button  mat-button [disabled]="clicked1" routerLink="/Community1" (click)="acceptrequesttab3(dealsPer100.userid,interestcateginittemp2); clicked1 = true;"
                 (click)="viewtoggle1AcceptDecline()">Accept Request</button> &nbsp; &nbsp; &nbsp; &nbsp; <br> <br>
        <button mat-button [disabled]="clicked1" [disabled]="clicked0" (click)="viewtoggle1back(); clicked1 = true;">Previous Profile</button> &nbsp; &nbsp; &nbsp; &nbsp;
        <button mat-button [disabled]="clicked1" [disabled]="clicked0" [disabled]="delayflag1" (click)="delayButton2(2000)" (click)="ontop()"
                (click)="loyaltynext()"   (click)="viewtoggle1next(); clicked1 = true;">Next Profile</button>
      </mat-card>
    </a>
  </a>

  <!-- user has seen index0, index1 from above initilalizers and now the user  -->
  <a *ngIf="viewtoggle=='yes' && initializerflag==''">
    <a style="text-align:center;">
      <mat-card class="example-card" fxLayout="column" fxLayoutAlign="space-around center">
        <mat-card-header>
          <img src="/assets/USA_Flag.png" alt="USA Flag" style="float:right;width:80px;height:50px;">
          <mat-card-title>{{dealsPer10.profilename}}</mat-card-title>
          <mat-card-subtitle>{{dealsPer10.countyuser}}, {{dealsPer10.stateuser}}</mat-card-subtitle>
          <mat-card-subtitle>{{dealsPer10.age}}</mat-card-subtitle>
        </mat-card-header>
        <img src={{urlA}} [ngStyle]= "{'width': newWidthA + 'px', 'height':newHeightA + 'px'}">
      </mat-card>

      <mat-card class="example-card">
        <mat-card-subtitle> <b> Industry: </b> {{dealsPer10.industrylevel2}}</mat-card-subtitle>
        <mat-card-subtitle> <b> Interested in training a Mentee: </b> {{dealsPer10.mentoragree}}</mat-card-subtitle>
        <mat-card-subtitle> <b> Occupation: </b> {{dealsPer10.occup}}</mat-card-subtitle>
        <mat-card-subtitle> <b> Looking for a Mentor: </b> {{dealsPer10.menteeagree}}</mat-card-subtitle>
        <!--  <mat-card-subtitle> <b> Education: </b> {{dealsPer10.education}}</mat-card-subtitle> -->
        <mat-card-subtitle> <b> Veteran: </b> {{dealsPer10.veteran}}</mat-card-subtitle>
        <mat-card-subtitle> <b> SoWhat Vote Loyalty Points: </b> {{dealsPer10.loyalty}}</mat-card-subtitle>
        <mat-card-subtitle><b> Description: </b>{{dealsPer10.userdescription}}</mat-card-subtitle>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-subtitle> <b> Reason for Connect: </b>{{interestcateginit1}}</mat-card-subtitle>
        <mat-card-subtitle> <b> Date Request Sent: </b>{{interdatetempinit1}}</mat-card-subtitle>
      </mat-card>

      <mat-card class="example-card">
        <button mat-button [disabled]="clicked" routerLink="/Community1" (click)="declinerequesttab3(dealsPer10.userid,interestcateginittemp1); clicked = true;"
                (click)="viewtoggle2AcceptDecline()">Decline Request</button> &nbsp; &nbsp; &nbsp; &nbsp;
        <button  mat-button [disabled]="clicked" routerLink="/Community1" (click)="acceptrequesttab3(dealsPer10.userid,interestcateginittemp1); clicked = true;"
                 (click)="viewtoggle2AcceptDecline()">Accept Request</button> &nbsp; &nbsp; &nbsp; &nbsp; <br> <br>
        <button mat-button [disabled]="clicked" [disabled]="clicked0" (click)="viewtoggle2back();
        clicked = true;">Previous Profile</button> &nbsp; &nbsp; &nbsp; &nbsp;
        <button mat-button [disabled]="clicked" [disabled]="clicked0" [disabled]="delayflag2" (click)="delayButton1(2000)" (click)="ontop()"
                (click)="loyaltynext()"    (click)="viewtoggle2next(); clicked = true;">Next Profile</button>
      </mat-card>
    </a>
  </a>

  <a *ngIf="viewtoggle=='no' && initializerflag==''">
    <a style="text-align:center;">
      <mat-card class="example-card" fxLayout="column" fxLayoutAlign="space-around center">
        <mat-card-header>
          <img src="/assets/USA_Flag.png" alt="USA Flag" style="float:right;width:80px;height:50px;">
          <mat-card-title>{{dealsPer100.profilename}}</mat-card-title>
          <mat-card-subtitle>{{dealsPer100.countyuser}}, {{dealsPer100.stateuser}}</mat-card-subtitle>
          <mat-card-subtitle>{{dealsPer100.age}}</mat-card-subtitle>
        </mat-card-header>
        <img src={{urlAnext}} [ngStyle]= "{'width': newWidthAnext + 'px', 'height':newHeightAnext + 'px'}">
      </mat-card>

      <mat-card class="example-card">
        <mat-card-subtitle> <b> Industry: </b> {{dealsPer100.industrylevel2}}</mat-card-subtitle>
        <mat-card-subtitle> <b> Interested in training a Mentee: </b> {{dealsPer100.mentoragree}}</mat-card-subtitle>
        <mat-card-subtitle> <b> Occupation: </b> {{dealsPer100.occup}}</mat-card-subtitle>
        <mat-card-subtitle> <b> Looking for a Mentor: </b> {{dealsPer100.menteeagree}}</mat-card-subtitle>
        <!--   <mat-card-subtitle> <b> Education: </b> {{dealsPer100.education}}</mat-card-subtitle>  -->
        <mat-card-subtitle> <b> Veteran: </b> {{dealsPer100.veteran}}</mat-card-subtitle>
        <mat-card-subtitle> <b> SoWhat Vote Loyalty Points: </b> {{dealsPer100.loyalty}}</mat-card-subtitle>
        <mat-card-subtitle><b> Description: </b>{{dealsPer100.userdescription}}</mat-card-subtitle>
      </mat-card>

      <mat-card class="example-card">
        <mat-card-subtitle> <b> Reason for Connect: </b>{{interestcateginit2}}</mat-card-subtitle>
        <mat-card-subtitle> <b> Date Request Sent: </b>{{interdatetempinit2}}</mat-card-subtitle>
      </mat-card>

      <mat-card class="example-card">
        <button mat-button [disabled]="clicked1" routerLink="/Community1" (click)="declinerequesttab3(dealsPer100.userid,interestcateginittemp2); clicked1 = true;"
                (click)="viewtoggle1AcceptDecline()">Decline Request</button> &nbsp; &nbsp; &nbsp; &nbsp;
        <button  mat-button [disabled]="clicked1" routerLink="/Community1" (click)="acceptrequesttab3(dealsPer100.userid,interestcateginittemp2); clicked1 = true;"
                 (click)="viewtoggle1AcceptDecline()">Accept Request</button> &nbsp; &nbsp; &nbsp; &nbsp; <br> <br>
        <button mat-button [disabled]="clicked1" [disabled]="clicked0" (click)="viewtoggle1back();
           clicked1 = true;">Previous Profile</button> &nbsp; &nbsp; &nbsp; &nbsp;
        <button mat-button [disabled]="clicked1" [disabled]="clicked0" [disabled]="delayflag1" (click)="delayButton2(2000)" (click)="ontop()"
                (click)="loyaltynext()"   (click)="viewtoggle1next(); clicked1 = true;">Next Profile</button>
      </mat-card>
    </a>
  </a>
</a>

  <small> Earn SoWhat Vote! 50 loyalty points by Accepting a Connect Request. Also, earn 20 loyalty points by Sending a Connect Request. Also, earn 20 loyalty points by viewing profiles by clicking "Next Profile". </small>

</div>
<!-- class3 is ad space right-->
<div class="class3" >
</div>
