.example-form1 {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width1 {
  width: 100%;
}

.demo-form-field3 {
  width: 700px;
  margin-top: 16px;
}

mat-form-field {
  width: 50%;
}
