
<div class="class1" >
</div>
<div class="class2" >

<h1 style="text-align:center;"> <b> Ways of Helping Your Community </b></h1> <br>
<a style="text-align:center;"> Page 1 of 2 </a> <br>

  <mat-card> <a> Results Loading. <br>
    <br> Meanwhile, please read below and spread awareness about it.
    <br> This is one possible way of helping our community members.
    <br> This furthers our mission of working together to create a strong community which helps each other and people in need.</a>
    </mat-card>

  <!-- Main content -->
  <ng-container *ngIf="selectorflag == 1">

    <!-- 1a -->
<br> <h2 style="text-align:center;"> <b> National Health Service Corps Loan Repayment Program </b> </h2> <br>

<p> The National Health Service Corps Loan Repayment Program recruits health professionals to work in selected health professional shortage areas and, in return, helps repay their qualifying educational loans. </p>
<br> <p>  In addition to loan repayment, these clinicians receive a competitive salary, some tax relief benefits, and a chance to have a significant impact on a <b> community </b>. Maximum repayment during the required initial two-year contract is $25,000 each year. Participants may extend loan repayments beyond two years, one year at a time, to the extent they have unpaid qualifying educational loans and serve at an eligible site.</p>

<br> <h3>Eligbility</h3>  <p> To be eligible for this benefit program, you must be a U.S. citizen or national.  Practice in one of the following disciplines: </p>
<ol> <li>   Primary Care Physician (MD or DO)   </li>
  <li>  Dentist (DDS or DMD)   </li>
  <li>   Primary Care Certified Nurse Practitioner (NP)   </li>
  <li>   Certified Nurse-Midwife (CNM)   </li>
  <li>   Primary Care Physician Assistant (PA)   </li>
  <li>   Registered Dental Hygienist (RDH)   </li>
  <li>   Health Service Psychologist (HSP)   </li>
  <li>   Licensed Clinical Social Worker (LCSW)   </li>
  <li>  Psychiatric Nurse Specialist (PNS)   </li>
  <li>  Marriage and Family Therapist (MFT)   </li>
  <li>   Licensed Professional Counselor (LPC)   </li>
  <li>  Be licensed to practice in the state in which you will serve as a Corps member.   </li>
  <li>  Have unpaid government or commercial loans for school tuition, reasonable educational expenses and reasonable living expenses, segregated from all other debts (that is, not consolidated with non-educational loans).   </li>
  <li>   Currently be working in a facility that is:   </li>
  <li>   An NHSC-approved facility, or   </li>
  <li>   Located in a Health Professional Shortage Area.   </li> </ol>

  <a style="text-align:center;" href="https://www.benefits.gov/benefit/447" target="_blank"> Click to Learn More</a> <br>

    <!-- 1b -->
    <br><h2 style="text-align:center;"><b>National Health Service Corps Scholarship Program </b></h2><br>

    <p>The National Health Service Corps offers this scholarship program to students committed to providing primary health care in communities identified as having a shortage of health professionals.</p>
    <br><p>The program offers payment of tuition, fees and other reasonable educational costs (e.g., books, supplies, equipment) and includes a monthly stipend for up to four years of education. Scholarship recipients serve in areas of greatest need upon completion of their training (each year of support requires one year of service, with a two-year minimum service commitment). </p>

    <br><h3>Eligbility</h3>
    <p> To be eligible for this benefit program, you must be a US national, citizen or dual citizen who has been accepted or is enrolled in an eligible primary care discipline in an eligible degree program at a U.S.-accredited school.

      Eligible primary care disciplines are as follows: </p>

    <ol>
      <li>   Medicine (MD or DO) </li>
      <li>   Dentistry (DDS or DMD) </li>
      <li>   Nurse practitioner </li>
      <li>   Certified nurse-midwife </li>
      <li>    Physician assistant </li>
     </ol>

    <a style="text-align:center;" href="https://www.benefits.gov/benefit/448" target="_blank"> Click to Learn More</a> <br>

    <!-- 1c -->
    <br><h2 style="text-align:center;"><b>Nursing Workforce Diversity </b></h2><br>

    <p> The Nursing Workforce Diversity program increases opportunities for individuals from disadvantaged backgrounds, including racial and ethnic minorities underrepresented among registered nurses. </p>
    <br><p>The opportunities provided include student scholarships or stipends, pre-entry preparation and retention activities. </p>

    <br><h3>Eligbility</h3>
    <p>In order to qualify for this benefit program, you must be a U.S. citizen or U.S. national who is not Caucasian and qualified/certified/licensed as a nurse or nurse anesthetist.  </p>

    <a style="text-align:center;" href="https://www.benefits.gov/benefit/727" target="_blank"> Click to Learn More</a> <br>

    <!-- 1d -->
    <br><h2 style="text-align:center;"><b>Scholarships for Disadvantaged Students </b></h2><br>

    <p>The Scholarships for Disadvantaged Students program provides scholarships to full-time, financially needy students from disadvantaged backgrounds, who are enrolled in health professions and nursing programs.  </p>
    <br><p>The programs makes funds available to schools of medicine, osteopathic medicine, dentistry, optometry, pharmacy, podiatric medicine, veterinary medicine, nursing, public health, chiropractic, allied health, graduate programs in behavioral and mental health practice, and programs providing training of physician assistants. </p>

    <br><h3>Eligbility</h3>
    <p> In order to qualify for this benefit program, you must be a U.S. national, citizen or permanent resident who is a current or prospective student pursuing a degree in nursing or health care. You must also characterize your financial situation as low income or very low income. </p>

    <a style="text-align:center;" href="https://www.benefits.gov/benefit/875" target="_blank"> Click to Learn More</a> <br>

    <!-- 1e -->
    <br><h2 style="text-align:center;"><b>Foster Grandparent Program </b></h2><br>

    <p> The Foster Grandparent Program provides grants to qualified agencies and organizations for the dual purpose of engaging persons 60 or older, with limited incomes, in volunteer service to meet critical community needs and to provide a high quality volunteer experience that will enrich the lives of the volunteers.  </p>
    <br><p>  Program funds are used to support Foster Grandparents in providing supportive, person to person service to children with exceptional or special needs.</p>

    <br><h3>Eligbility</h3>
    <p>In order to qualify for this benefit program, you must be interested in volunteering and you must be 60 years of age or older.  </p>
    <a style="text-align:center;" href="https://www.benefits.gov/benefit/878" target="_blank"> Click to Learn More</a> <br>


  </ng-container>

  <!-- Next benefit -->
  <ng-container *ngIf="selectorflag == 2">
    <!-- 2a -->
  <br><h2 style="text-align:center;"><b>Farmers Market Promotion Program </b></h2><br>

    <p>The purpose of the Farmers Market Promotion Program (FMPP) is to increase domestic consumption of, and access to, locally and regionally produced agricultural products, and to develop new market opportunities for farm and ranch operations serving local markets by developing, improving, expanding, and providing outreach, training, and technical assistance to, or assisting in the development, improvement, and expansion of, domestic farmers markets, roadside stands, community-supported agriculture programs, agritourism activities, and other direct producer-to-consumer market opportunities.  </p>

    <br><h3>Eligbility</h3>
    <p>To be eligible for this benefit program, applicants must be domestic entities owned, operated and located within the 50 U.S. states, the District of Columbia. Entities that are eligible to apply include:   </p>

    <ol>
      <li>     Agricultural businesses and cooperatives </li>
      <li>     Community Supported Agriculture (CSA) networks and associations </li>
      <li>    Food Councils </li>
      <li>    Economic development corporations </li>
      <li>   Local governments </li>
      <li>   Nonprofit and public benefit corporations </li>
      <li>   Producer networks or associations </li>
      <li>   Regional farmers’ market authorities </li>
      <li>   Tribal governments </li>
 </ol>

    <a style="text-align:center;" href="https://www.benefits.gov/benefit/5949" target="_blank"> Click to Learn More</a> <br>

    <!-- 2b -->
    <br><h2 style="text-align:center;"><b>AIDS Research Loan Repayment Program</b></h2><br>

    <p>The AIDS Research Loan Repayment Program helps to assure an adequate supply of trained researchers with respect to AIDS at the National Institutes of Health (NIH) by providing for the repayment of educational loans for participants who contractually agree to engage in AIDS research as employees of the NIH.   </p>
    <br><p> Recipients must agree by written contract to engage in AIDS research, initially, for a minimum of two years. Continuation contracts are available, dependent upon level of debt and continued involvement in AIDS research, and are issued for one-year periods. Maximum program benefit is $35,000 per year in loan repayments and $13,650 per year in Federal tax reimbursements. Recipients must have qualified educational debt equal to or in excess of 20 percent of their annual NIH salary. </p>

    <br><h3>Eligbility</h3>
    <p>In order to qualify for this benefit program, you must be a U.S. national, citizen or permanent resident qualified/certified/licensed for laboratory or clinical research, have a health professional doctoral degree or equivalent, have student loan debt, and you must be employed by or have a firm commitment of employment at the NIH.  </p>


    <a style="text-align:center;" href="https://www.benefits.gov/benefit/480" target="_blank"> Click to Learn More</a> <br>

    <!-- 2c -->
    <br><h2 style="text-align:center;"><b> Clinical Research Loan Repayment Program </b></h2><br>

    <p>The Clinical Research Loan Repayment Program is to recruit and retain highly qualified health professionals as clinical investigators.  </p>
    <br><p> In exchange for a two-year commitment to your clinical research career, the National Institute of Health (NIH) will repay up to $35,000 per year of your qualified educational debt and pay an additional 39 percent of the repayments to cover your Federal taxes. </p>

    <br><h3>Eligbility</h3>
    <p>In order to qualify for this benefit program, you must be a U.S. citizen (or U.S. national or permanent resident) and have a M.D., Ph.D., Psy. D., Pharm. D., D.O., D.D.S., D.M.D., D.P.M., D.C., N.D., O.D., D.V.M., or equivalent doctoral degree from an accredited institution.  </p>

    <a style="text-align:center;" href="https://www.benefits.gov/benefit/2687" target="_blank"> Click to Learn More</a> <br>

    <!-- 2d -->
    <br><h2 style="text-align:center;"><b> Clinical Research Loan Repayment Program for Individuals from Disadvantaged Backgrounds </b></h2><br>

    <p>The program supports the National Institutes of Health (NIH) Intramural Research Program in recruiting and retaining health professionals from disadvantaged backgrounds to conduct clinical research at the NIH by providing for the repayment of educational loans for participants with substantial amounts of educational debt relative to income.   </p>
    <br><p>Participants agree by written contract to engage in clinical research as employees of the NIH for a minimum two-year period. Maximum program benefit is $35,000 per year in loan repayments and $13,650 per year in Federal tax reimbursements. </p>

    <br><h3>Eligbility</h3>
    <p>In order to qualify for this benefit program, you must be a U.S. citizen (or U.S. national or permanent resident) and have a M.D., Ph.D., Psy. D., Pharm. D., D.O., D.D.S., D.M.D., D.P.M., D.C., N.D., O.D., D.V.M., or equivalent doctoral degree from an accredited institution. You must also certify your disadvantaged background status by submitting a written statement from your health professions school, documentation that you received Loans for Disadvantaged Students, or documentation that you received a scholarship from the Department of Health and Human Services (HHS) under the Scholarship for Individuals with Exceptional Financial Need.  </p>

    <a style="text-align:center;" href="https://www.benefits.gov/benefit/467" target="_blank"> Click to Learn More</a> <br>

    <!-- 2e -->
    <br><h2 style="text-align:center;"><b> Cash-Out Refinance Loan</b></h2><br>

    <p>The Department of Veterans Affairs (VA) Cash-Out Refinance Loan is for homeowners who want to trade equity for cash from their home.   </p>
    <br><p>These loans can be used as strictly cash at closing, to payoff debt, make home improvements, and pay off liens. The Cash-Out Refinance Loan can also be used to refinance a non-VA loan into a VA loan. VA will guaranty loans up to 100 percent of the value of your home. </p>

    <br><h3>Eligbility</h3>
    <p>Persons who may qualify for VA-guaranteed loans include:  </p>

    <ul>
      <li>  Veterans, </li>
      <li>   Reserve and National Guard members (called to active duty), </li>
      <li>  Active duty service members, </li>
      <li>  Current Reserve and Guard members (after six years of creditable service), and </li>
      <li>  Certain surviving spouses. </li>
     </ul>

    <p> To be eligible, the Veteran/service member must have been discharged under conditions other than dishonorable and meet length of service requirements.</p>
    <p>As a requirement for a VA home loan, the Veteran, the Veteran's spouse, or dependent child must certify occupancy for the property.</p>
    <br><h3>Loan Terms</h3>
    <p>Market Interest Rate, VA funding fee, and no pre-payment penalties. Maximum loan term cannot exceed 30 years. No maximum loan amount.</p>
    <br><h3>Apply Process</h3>
    <p>To apply, you will need a valid Certificate of Eligibility (COE). There are several ways to obtain your COE:
      You may be able to obtain a COE online through eBenefits.
      If you are unable to obtain your COE through eBenefits, check with your lender. In most cases, your lender will be able to obtain a COE for you using the Automated Certificate of Eligibility (ACE) program.</p>

    <a style="text-align:center;" href="https://www.benefits.gov/benefit/1507" target="_blank"> Click to Learn More</a> <br>
  </ng-container>

  <!-- Next benefit -->
    <ng-container *ngIf="selectorflag == 3">

      <!-- 3a -->
      <br><h2 style="text-align:center;"><b>Contraception and Infertility Research Loan Repayment Program </b></h2><br>

      <p>The Contraception and Infertility Research Loan Repayment Program (CIR-LRP) is designed to provide an incentive for health professionals to work in areas of reproductive research directly related to contraceptive development and/or infertility diagnosis and treatment by providing assistance in repaying educational loans for individuals.   </p>
      <br><p>The CIR-LRP will pay up to $35,000 of the principal and interest of a participant's educational loans for each year of commitment not to exceed one-half of the remaining loan balance. In addition to the loan repayments, the CIR-LRP may pay participants up to 39 percent of the amount paid to lenders as partial payments on the increased income tax liability caused by the Program's loan repayments. In return for these loan repayments, applicants must agree to commit to a period of obligated service of not less than 2 years conducting research with respect to contraception and/or infertility. </p>

      <br><h3>Eligbility</h3>
      <p>In order to qualify for this benefit program, you must be qualified/certified/licensed for laboratory or clinical research, you must be or have been a health care professional, and you must be pursuing a doctoral, master's, research fellow, clinical or nursing degree.  </p>

      <a style="text-align:center;" href="https://www.benefits.gov/benefit/469" target="_blank"> Click to Learn More</a> <br>

      <!-- 3b -->
      <br><h2 style="text-align:center;"><b>Extramural Clinical Research Loan Repayment Program for Individuals from Disadvantaged Backgrounds  </b></h2><br>

      <p>The ECR-LRP is a congressionally mandated loan repayment program that was established by the Secretary for the Department of Health and Human Services through the Director of NIH. The objective of the ECR-LRP is the recruitment and retention of highly qualified health professionals from disadvantaged backgrounds to clinical research careers.  </p>
      <br><p> The emphasis on clinical research and individuals from disadvantaged backgrounds highlights the need for the involvement of a cadre of competent physician scientists in clinical research. Such a cadre of clinical investigators have the potential of impacting the medical processes within their communities by engaging in as well as promoting the development of clinical research programs that reflect an understanding of the variety of issues and problems associated with health status. </p>
      <br><p>A non-profit institution must support applicant's research, foundation, professional society or U.S. government entity (Federal, state, or local), and applicants must commit 50% or more of their time, or not less than 20 hours per week, to health disparities, or clinical research. </p>

      <br><h3>Eligbility</h3>
      <p>In order to qualify for this benefit program, you must have student loans greater than or equal to 20% of your institutional base salary and you must have completed doctoral level education.  </p>

      <a style="text-align:center;" href="https://www.benefits.gov/benefit/688" target="_blank"> Click to Learn More</a> <br>

      <!-- 3c -->
      <br><h2 style="text-align:center;"><b>General Research Loan Repayment Program</b></h2><br>

      <p>The General Research Loan Repayment Program aims to recruit and retain appropriately qualified health professionals who agree to conduct research as employees of the National Institutes of Health (NIH) in exchange for a three-year commitment.  </p>
      <br><p>The NIH will repay up to $35,000 per year of a participant’s qualified educational debt and pay an additional 39 percent of the repayments to cover Federal taxes. </p>

      <br><h3>Eligbility</h3>
      <p>In order to qualify for this benefit program, participants must be a U.S. national, citizen, or permanent resident qualified/certified/licensed for laboratory or clinical research, have a health professional doctoral degree or equivalent, have student loan debt, and be employed by or have a firm commitment of employment at the NIH.  </p>

      <a style="text-align:center;" href="https://www.benefits.gov/benefit/6172" target="_blank"> Click to Learn More</a> <br>

      <!-- 3d -->
      <br><h2 style="text-align:center;"><b>National Institute on Minority Health and Health Disparities (NIMHD) Loan Repayment Program </b></h2><br>

      <p>The National Institute on Minority Health and Health Disparities (NIMHD) was mandated by Congress to develop a distinct loan repayment program to increase the pool of extramural researchers who conduct minority health disparities and other health disparities research.  </p>
      <br><p>The NIMHD Loan Repayment Program (LRP) offers an educational loan repayment of up to $35,000 per year to qualified health professionals. This program offers two distinct extramural loan repayment opportunities: </p>
      <ul> <li> The NIMHD Extramural Loan Repayment Program for Health Disparities Research supports the recruitment and retention of highly qualified health professionals to research careers that focus on addressing minority health disparities and/or other health disparities; and</li>
        <li> The NIMHD Extramural Clinical Research Loan Repayment Program for Clinical Researchers from Disadvantaged Backgrounds supports the recruitment and retention of highly qualified health professionals from disadvantaged backgrounds as research investigators to careers in clinical research. </li>
      </ul>

      <br><h3> General Eligbility</h3>
      <p>  Citizenship - You must be a U.S. citizen, U.S national, or permanent resident of the U.S. by the LRP award start date. </p>

      <p>  Qualifying Degree (Extramural programs only) - Possess an M.D., Ph.D., Pharm.D., Psy.D., D.O., D.D.S., D.M.D., D.P.M., D.C., N.D., O.D., D.V.M., or equivalent doctoral degree from an accredited institution. There are some exceptions in the Contraception and Infertility and REACH subcategories. Visit the Contraception and Infertility and REACH pages for additional details. </p>

      <p>  Qualifying Degree (Intramural programs only) - Possess an M.D., Ph.D., D.O., D.D.S., D.M.D., D.P.M., D.V.M., A.D.N., B.S.N., or equivalent doctoral degree from an accredited institution; or hold the position of Physician Assistant. </p>

      <p>  Qualified Educational Debt - You must have total qualified educational debt equal to or in excess of 20 percent of your institutional base salary at the time of award. Institutional base salary is the annual amount you are paid for your appointment, whether the time is spent on research, teaching, patient care, or other activities. Institutional base salary excludes any income that you may earn outside of the duties of the organization. It is not necessary for renewal applicants to satisfy the 20 percent debt-to-income requirement. </p>

      <p>  Qualified Research (Extramural programs only) - You must agree to conduct only research that is not prohibited by Federal law, regulations, or policies of the U.S. Department of Health and Human Services (HHS) or National Institutes of Health (NIH). If you receive an LRP award, you must conduct your research in accordance with applicable Federal, State, and local law (e.g., applicable human subject protection regulations) for the entire contract period. Additionally, you must engage in qualified research for an average of at least 20 hours per week during each quarterly service period of your LRP award. </p>

      <p>  Qualified Research Assignments (Intramural programs only) - You must be appointed at the NIH in a qualified research area. </p>

      <p>  For the AIDS and Clinical Research for Individuals from Disadvantaged Backgrounds subcategories, qualified research assignments must involve AIDS or clinical research and be approved by the Loan Repayment Committee (LRC). In support of the objectives of these subcategories, if applicable, an individual who is already employed by the NIH and applies to the Intramural LRP must demonstrate his/her ability and intention to transfer from a non-qualified to a qualified AIDS or clinical research assignment. </p>
      <ul> <li>    Unlike the AIDS and Clinical subcategories, the General subcategory is not targeted toward a specific area (e.g., AIDS) or type (e.g., clinical) of research. Rather, the focus is on attracting and retaining highly talented investigators to pursue biomedical research studies and investigations in a variety of scientific disciplines. Generally, this subcategory is used to attract or retain more senior researchers rather than trainees. For the General subcategory, a "qualified research assignment" is one that is approved by the LRC based on the nature of the proposed research and its relationship to the mission and priorities of NIH.</li>
      <li>    Domestic, nonprofit research funding (Extramural programs only) - Your research must be supported by a domestic, nonprofit foundation, university, professional association, or other nonprofit institution, or a U.S. government agency (Federal, State, or local). A domestic foundation, professional association, or institution is considered to be nonprofit if it is exempt from Federal tax under the provisions of Section 501 of the Internal Revenue Code (26 U.S.C. 501). NIH grants and university salaries are considered eligible funding. Your employment must be with a domestic, nonprofit institution. </li>
      </ul>

      <p>     NIH Employment (Intramural programs only) - You must be an NIH employee or have a firm commitment of employment from an authorized official of the NIH. Appointments are made under the broad authority of the Federal Civil Service (Title V or Title 42) or the Commissioned Corps of the United States Public Health Service. Responsibility for obtaining qualifying employment rests with the LRP applicant. </p>

      <br><h3> Additional Eligbility</h3>
      <p>In addition to the general eligibility requirements, you must be a qualified health professional with a doctorate degree (e.g. M.D., ph.D., Dr. PH.) who is employed in non-federal academic/research settings and are able to conduct two years of minority health disparities or other health disparities research or clinical research.  </p>

      <br><h3>Ineligbility Criteria</h3>
      <p>     You are ineligible to apply for the NIH LRPs if you are: </p>

      <p>    An individual who is not a U.S. citizen, U.S. national, or permanent resident of the U.S. by the LRP award start date; </p>
      <p>    An individual who has or had a Federal judgment lien against his/her property arising from Federal debt; </p>
      <p>   An individual who owes an obligation of health professional service to the federal government, a state, or other entity, unless deferrals or extensions are granted for the length of the NIH LRP contract; </p>
      <p>   An individual employed by a federal government agency, other than NIH, with a work schedule of more than 20 hours per week; </p>
      <p>   An individual who receives any research funding support or salary from a for-profit institution or organization, including an individual identified as a Principal Investigator (PI) or co-PI in an industry/pharma-supported Clinical Trial; </p>
      <p>   A current recipient of an NIH Intramural Research Training Award (IRTA) or a Cancer Research Training Award (CRTA); </p>
      <p>  An individual conducting research for which funding is precluded by Federal law, Federal regulations, or HHS/NIH policy, or that does not comply with applicable Federal, State, and local law regarding the conduct of the research (e.g., applicable human subject protection regulations); </p>
      <p>  An individual who does not meet the 20% debt-to-income ratio. </p>

      <br><h3>Loan Eligbility Criteria</h3>
      <p>NIH will repay your lenders for qualified educational loans issued by any U.S. government entity, accredited U.S. academic institutions, and/or commercial lenders that are subject to examination and supervision in their capacity as lending institutions by an agency of the United States or the state in which the lender has its principal place of business.  </p>
      <p>Qualified educational loans are loans that were used for school tuition or other reasonable educational or living expenses (including room/board and transportation) while attending undergraduate, graduate, medical, dental, or veterinary schools. LRP awards are not retroactive, thus loan balances paid down or paid-in-full prior to the start date of an LRP award will not be factored in the calculation of an award. NIH also will not repay any late fees, penalty fees, additional interest charges, or collection costs.  </p>
      <a style="text-align:center;" href="https://www.benefits.gov/benefit/694" target="_blank"> Click to Learn More</a> <br>
    </ng-container>

  <!-- Next benefit -->
  <ng-container *ngIf="selectorflag == 4">

    <!-- 4a -->
    <br><h2 style="text-align:center;"><b>National Institutes of Health Loan Repayment Programs (LRPs)  </b></h2><br>

    <p>National Institutes of Health (NIH) wants to encourage outstanding health professionals to pursue careers in biomedical, behavioral, social, and clinical research.  </p>
    <br><p>If you commit at least two years to conducting qualified research funded by a domestic nonprofit organization or U.S. federal, state, or local government entity, NIH may repay up to $35,000 of your qualified student loan debt per year, including most undergraduate, graduate, and medical school loans. Loan repayment benefits are in addition to the institutional salary you receive for your research. </p>
    <br><h3> General Eligbility</h3>
    <p>  Citizenship - You must be a U.S. citizen, U.S national, or permanent resident of the U.S. by the LRP award start date. </p>

    <p>  Qualifying Degree (Extramural programs only) - Possess an M.D., Ph.D., Pharm.D., Psy.D., D.O., D.D.S., D.M.D., D.P.M., D.C., N.D., O.D., D.V.M., or equivalent doctoral degree from an accredited institution. There are some exceptions in the Contraception and Infertility and REACH subcategories. Visit the Contraception and Infertility and REACH pages for additional details. </p>

    <p>  Qualifying Degree (Intramural programs only) - Possess an M.D., Ph.D., D.O., D.D.S., D.M.D., D.P.M., D.V.M., A.D.N., B.S.N., or equivalent doctoral degree from an accredited institution; or hold the position of Physician Assistant. </p>

    <p>  Qualified Educational Debt - You must have total qualified educational debt equal to or in excess of 20 percent of your institutional base salary at the time of award. Institutional base salary is the annual amount you are paid for your appointment, whether the time is spent on research, teaching, patient care, or other activities. Institutional base salary excludes any income that you may earn outside of the duties of the organization. It is not necessary for renewal applicants to satisfy the 20 percent debt-to-income requirement. </p>

    <p>  Qualified Research (Extramural programs only) - You must agree to conduct only research that is not prohibited by Federal law, regulations, or policies of the U.S. Department of Health and Human Services (HHS) or National Institutes of Health (NIH). If you receive an LRP award, you must conduct your research in accordance with applicable Federal, State, and local law (e.g., applicable human subject protection regulations) for the entire contract period. Additionally, you must engage in qualified research for an average of at least 20 hours per week during each quarterly service period of your LRP award. </p>

    <p>  Qualified Research Assignments (Intramural programs only) - You must be appointed at the NIH in a qualified research area. </p>

    <p>  For the AIDS and Clinical Research for Individuals from Disadvantaged Backgrounds subcategories, qualified research assignments must involve AIDS or clinical research and be approved by the Loan Repayment Committee (LRC). In support of the objectives of these subcategories, if applicable, an individual who is already employed by the NIH and applies to the Intramural LRP must demonstrate his/her ability and intention to transfer from a non-qualified to a qualified AIDS or clinical research assignment. </p>
    <ul> <li>    Unlike the AIDS and Clinical subcategories, the General subcategory is not targeted toward a specific area (e.g., AIDS) or type (e.g., clinical) of research. Rather, the focus is on attracting and retaining highly talented investigators to pursue biomedical research studies and investigations in a variety of scientific disciplines. Generally, this subcategory is used to attract or retain more senior researchers rather than trainees. For the General subcategory, a "qualified research assignment" is one that is approved by the LRC based on the nature of the proposed research and its relationship to the mission and priorities of NIH.</li>
      <li>    Domestic, nonprofit research funding (Extramural programs only) - Your research must be supported by a domestic, nonprofit foundation, university, professional association, or other nonprofit institution, or a U.S. government agency (Federal, State, or local). A domestic foundation, professional association, or institution is considered to be nonprofit if it is exempt from Federal tax under the provisions of Section 501 of the Internal Revenue Code (26 U.S.C. 501). NIH grants and university salaries are considered eligible funding. Your employment must be with a domestic, nonprofit institution. </li>
    </ul>

    <p>     NIH Employment (Intramural programs only) - You must be an NIH employee or have a firm commitment of employment from an authorized official of the NIH. Appointments are made under the broad authority of the Federal Civil Service (Title V or Title 42) or the Commissioned Corps of the United States Public Health Service. Responsibility for obtaining qualifying employment rests with the LRP applicant. </p>

    <br><h3> Additional Eligbility</h3>
    <p>In addition to the general eligibility requirements, you must be a qualified health professional with a doctorate degree (e.g. M.D., ph.D., Dr. PH.) who is employed in non-federal academic/research settings and are able to conduct two years of minority health disparities or other health disparities research or clinical research.  </p>

    <br><h3>Ineligbility Criteria</h3>
    <p>     You are ineligible to apply for the NIH LRPs if you are: </p>

    <p>    An individual who is not a U.S. citizen, U.S. national, or permanent resident of the U.S. by the LRP award start date; </p>
    <p>    An individual who has or had a Federal judgment lien against his/her property arising from Federal debt; </p>
    <p>   An individual who owes an obligation of health professional service to the federal government, a state, or other entity, unless deferrals or extensions are granted for the length of the NIH LRP contract; </p>
    <p>   An individual employed by a federal government agency, other than NIH, with a work schedule of more than 20 hours per week; </p>
    <p>   An individual who receives any research funding support or salary from a for-profit institution or organization, including an individual identified as a Principal Investigator (PI) or co-PI in an industry/pharma-supported Clinical Trial; </p>
    <p>   A current recipient of an NIH Intramural Research Training Award (IRTA) or a Cancer Research Training Award (CRTA); </p>
    <p>  An individual conducting research for which funding is precluded by Federal law, Federal regulations, or HHS/NIH policy, or that does not comply with applicable Federal, State, and local law regarding the conduct of the research (e.g., applicable human subject protection regulations); </p>
    <p>  An individual who does not meet the 20% debt-to-income ratio. </p>

    <br><h3>Loan Eligbility Criteria</h3>
    <p>NIH will repay your lenders for qualified educational loans issued by any U.S. government entity, accredited U.S. academic institutions, and/or commercial lenders that are subject to examination and supervision in their capacity as lending institutions by an agency of the United States or the state in which the lender has its principal place of business.  </p>
    <p>Qualified educational loans are loans that were used for school tuition or other reasonable educational or living expenses (including room/board and transportation) while attending undergraduate, graduate, medical, dental, or veterinary schools. LRP awards are not retroactive, thus loan balances paid down or paid-in-full prior to the start date of an LRP award will not be factored in the calculation of an award. NIH also will not repay any late fees, penalty fees, additional interest charges, or collection costs.  </p>
    <a style="text-align:center;" href="https://www.benefits.gov/benefit/476" target="_blank"> Click to Learn More</a> <br>

    <!-- 4b -->
    <br><h2 style="text-align:center;"><b> Qualified Disabled and Working Individuals (QDWI) Program </b></h2><br>

    <p> The Qualified Disabled and Working Individuals (QDWI) Program is one of the four Medicare Savings Programs that allows you to get help from your state to pay your Medicare premiums. This Program helps pay for Part A premiums only. </p>

    <br><h3>Eligbility</h3>
    <p> You may qualify if any of these apply to you: </p>

    <ol> <li>  You're a working disabled person under 65 </li>
      <li>   You lost your premium-free Part A when you went back to work </li>
      <li>   You aren't getting medical assistance from your state </li>
      <li>  You meet the income and resource limits required by your state </li>
    </ol>
  <p>    You must also meet the following income requirements, which can also be found on the Medicare Savings Programs page: </p>
    <ol>
      <li>   Individual monthly income limit $4,249 </li>
      <li>    Married couple monthly income limit $5,722 </li>
      <li>   Individual resource limit $4,000 </li>
      <li>   Married couple resource limit $6,000 </li>
         </ol>
    <a style="text-align:center;" href="https://www.benefits.gov/benefit/6180" target="_blank"> Click to Learn More</a> <br>

    <!-- 4c -->
    <br><h2 style="text-align:center;"><b> Qualified Medicare Beneficiary (QMB) Program </b></h2><br>

    <p>The Qualified Medicare Beneficiary (QMB) Program is one of the four Medicare Savings Programs that allows you to get help from your state to pay your Medicare premiums. This Program helps pay for Part A premiums, Part B premiums, and deductibles, coinsurance, and copayments.  </p>

    <br><h3>Eligbility</h3>
    <p>In order to qualify for QMB benefits you must meet the following income requirements, which can also be found on the Medicare Savings Programs page: </p>

    <ol>
      <li>  Individual monthly income limit $1,060  </li>
      <li>  Married couple monthly income limit $1,430  </li>
      <li>     Individual resource limit $7,730  </li>
      <li>    Married couple resource limit $11,600  </li>
    </ol>
    <a style="text-align:center;" href="https://www.benefits.gov/benefit/6177" target="_blank"> Click to Learn More</a> <br>

    <!-- 4d -->
    <br><h2 style="text-align:center;"><b> Qualifying Individual (QI) Program </b></h2><br>

    <p>The Qualifying Individual (QI) Program is one of the four Medicare Savings Programs that allows you to get help from your state to pay your Medicare premiums. This Program helps pay for Part B premiums only.  </p>

    <br><h3>Eligbility</h3>
    <p>You can't get QI benefits if you qualify for Medicaid. In order to qualify for QI benefits you must meet the following income requirements, which can also be found on the Medicare Savings Programs page:  </p>

    <ol>
      <li>   Individual monthly income limit $1,426  </li>
      <li>  Married couple monthly income limit $1,923  </li>
      <li> Individual resource limit $7,730  </li>
      <li>   Married couple resource limit $11,600  </li>
    </ol>
    <a style="text-align:center;" href="https://www.benefits.gov/benefit/6176" target="_blank"> Click to Learn More</a> <br>

    <!--4d -->
    <br><h2 style="text-align:center;"><b>Volunteer Income Tax Assistance (VITA) </b></h2><br>

    <p>The Volunteer Income Tax Assistance (VITA) program offers free tax help to people who generally make $54,000 or less, persons with disabilities, the elderly and limited English speaking taxpayers who need assistance in preparing their own tax returns.  </p>
    <br><p>IRS-certified volunteers provide free basic income tax return preparation with electronic filing to qualified individuals.  Assistance is provided at community and neighborhood centers, libraries, schools, shopping malls, and other convenient locations. </p>

    <br><h3>Eligbility</h3>
    <p>In order to qualify for this program, you must:  </p>

    <ul>
      <li>   Earn moderate income or less; or </li>
      <li>    Be disabled; or </li>
      <li>   Not speak English well; or </li>
      <li>  Be a senior citizen </li>
    </ul>

    <a style="text-align:center;" href="https://www.benefits.gov/benefit/1543" target="_blank"> Click to Learn More</a> <br>
  </ng-container>

  <!-- Next benefit -->
  <ng-container *ngIf="selectorflag == 5">

    <!-- 5a -->
    <br><h2 style="text-align:center;"><b> Assets for Independence </b></h2><br>

    <p>Assets for Independence (AFI) is a community-based approach for giving low-income families a hand up out of poverty.   </p>
    <br><p>Utilizing existing individual and community assets, AFI strengthens communities from within through the use of matched savings accounts called Individual Development Accounts (IDAs). Through financial education, AFI demonstrates the use and impact of IDAs to help low-income individuals move toward greater self-sufficiency. </p>
    <br><p>AFI's main initiatives include: </p>

    <ol>
      <li>  Awarding grants to non-profit organizations and government agencies that provide IDAs </li>
      <li> Managing a national resource center to support AFI grantees and develop information on the use of IDAs and related asset-building strategies </li>
      <li>  Managing research on IDA usage and implementation </li>
    </ol>


    <br><h3>Eligbility</h3>
    <p> Assets for Independence Program grants are awarded on a competitive basis. Grantee organizations manage programs that help clients establish IDAs and accumulate assets for the long-term. The following are eligible to apply: </p>

    <ol>
      <li>  Non-profit organizations, including faith-based organizations.  </li>
      <li>     State governments.  </li>
      <li>    Local governments.  </li>
      <li>   Tribal governments.  </li>
    </ol>
    <a style="text-align:center;" href="https://www.benefits.gov/benefit/628" target="_blank"> Click to Learn More</a> <br>

    <!-- 5b -->
    <br><h2 style="text-align:center;"><b> Specified Low-Income Medicare Beneficiary (SLMB) Program </b></h2><br>

    <p>The Specified Low-Income Medicare Beneficiary (SLMB) Program is one of the four Medicare Savings Programs that allows you to get help from your state to pay your Medicare premiums. This Program helps pay for Part B premiums only.  </p>

    <br><h3>Eligbility</h3>
    <p> In order to qualify for SLMB benefits you must meet the following income requirements, which can also be found on the Medicare Savings Programs page: </p>

    <ol>
      <li>  Individual monthly income limit: $1,269  </li>
      <li>   Married couple monthly income limit: $1,711  </li>
      <li>  Individual resource limit: $7,730  </li>
      <li>  Married couple resource limit: $11,600  </li>
    </ol>
    <p>    Please Note: These limits change from year to year, so please check the Medicare Savings Programs page for the most up to date income requirements. </p>
    <a style="text-align:center;" href="" target="_blank"> Click to Learn More</a> <br>

    <!-- 5c -->
    <br><h2 style="text-align:center;"><b> Pediatric Research Loan Repayment Program</b></h2><br>

    <p>In exchange for a two-year commitment to your research career, the National Institutes of Health (NIH) will repay up to $35,000 per year of your qualified repayable educational debt, and pay an additional 39 percent of the repayments to cover your Federal taxes.  </p>

    <br><h3>Eligbility</h3>
    <p> To be eligible for this benefit program, you must be a U.S. citizen (or U.S. national or permanent resident) and have a M.D., Ph.D., Psy.D., Pharm. D., D.O., D.D.S., D.M.D., D.P.M., D.C., N.D., DVM or equivalent doctoral degree from an accredited institution. </p>
    <p>The NIH Extramural LRP application cycle is open from September 1 through November 15 each year. If the cycle is open please visit the Loan Repayment Program Application page to begin your application.</p>
    <a style="text-align:center;" href="https://www.benefits.gov/benefit/2689" target="_blank"> Click to Learn More</a> <br>

    <!-- 5d -->
    <br><h2 style="text-align:center;"><b>Community Mental Health Services Block Grant</b></h2><br>

    <p> The Community Mental Health Services Block Grant is dedicated to improving public mental health service systems across the country. </p>
    <br><p>The purpose of the grant is to help build and support the community-based public mental health system for adults with serious mental illness (SMI) and children with severe emotional disturbance (SED).</p>

    <br><h3>Eligbility</h3>
    <p>The grant is awarded to the 59 states and territories of the United States according to a formula established by congress. Eligible states and territories must submit an annual application to SAMHSA. States and territories further disseminate the funding to providers of service.  </p>
    <a style="text-align:center;" href="https://www.benefits.gov/benefit/765" target="_blank"> Click to Learn More</a> <br>

    <!-- 5e -->
    <br><h2 style="text-align:center;"><b> Microloan Program</b></h2><br>

    <p> The MicroLoan Program provides very small loans to start-up, newly established, or growing small business concerns and certain not-for-profit childcare centers. </p>
    <br><p>Under this program, SBA makes funds available to nonprofit community based lenders (Microlender Intermediaries) which, in turn, make loans to eligible borrowers in amounts up to a maximum of $50,000. The average loan size is about $13,000. Applications are submitted to the local intermediary and all credit decisions are made on the local level. </p>

    <br><h3>Eligbility</h3>
    <p> Each intermediary lender has its own lending and credit requirements. However, business owners contemplating application for a microloan should be aware that intermediaries will generally require some type of collateral, and the personal guarantee of the business owner. </p>

    <br><h3>Loan Terms</h3>
    <p> The maximum term allowed for a microloan is six years. However, loan terms vary according to the size of the loan, the planned use of funds, the requirements of the intermediary lender, and the needs of the small business borrower. Interest rates vary, depending upon the intermediary lender and costs to the intermediary from the U.S. Department of the Treasury.</p>
    <br><h3>Apply Process</h3>
    <p> Small businesses interested in the Microloan Program should contact a Intermediary Microlender in their area. A Microlender is a non profit organization that receives a loan from SBA. In turn, the Microlender makes small loans to very small businesses in the community. The Microlender also provides technical assistance to the small business. All credit decisions are made by the Microlender. The application process may vary depending on the Intermediary Microlender.</p>
    <br><h3>Using the Microloan</h3>
    <p>Microloans can be used for a variety of purposes that help small businesses expand. Use them when you need less than $50,000 to rebuild, re-open, repair, enhance, or improve your small business. Examples include: </p>

    <ul>
      <li>   Working capital </li>
      <li>  Inventory </li>
      <li>  Supplies </li>
      <li>  Furniture </li>
      <li>   Fixtures </li>
      <li>  Machinery </li>
      <li>  Equipment </li>
     </ul>
<p> Proceeds from an SBA microloan cannot be used to pay existing debts or to purchase real estate.</p>
    <br><h3>Loan Repayment</h3>
    <ol>
      <li>    Amount, planned use, lender requirements, needs of the small business owner </li>
      <li>   Maximum repayment term allowed for an SBA microloan is six years </li>
      <li>   Interest rates vary depending on the intermediary lender </li>
      <li>   Generally, between 8 and 13 percent </li> </ol>
    <a style="text-align:center;" href="https://www.benefits.gov/benefit/1501" target="_blank"> Click to Learn More</a> <br>

  </ng-container>

  <!-- Next benefit -->
  <ng-container *ngIf="selectorflag == 6">

    <!-- 6a -->
    <br><h2 style="text-align:center;"><b> Nursing Education Loan Repayment Program</b></h2><br>

    <p> To assist in the recruitment and retention of professional nurses dedicated to providing health care to underserved populations, the Nursing Education Loan Repayment Program offers registered nurses substantial assistance to repay educational loans in exchange for service in eligible facilities located in areas experiencing a shortage of nurses.  </p>
    <br><p> The Nursing Education Loan Repayment Program will pay 60 percent of the participant's total qualifying loan balance in two years and an additional 25 percent of the original balance for an optional third year. In order to quality, NURSE Corps members must fulfill a service obligation at any one of thousands of nonprofit hospitals, clinics and other facilities located in designated primary medical care or mental health Health Professional Shortage Areas across the U.S.</p>
    <p>   Application cycles are open once a year </p>

    <br><h3>Eligbility</h3>
    <p>In order to qualify for this benefit program, you must be: </p>
    <ol>
      <li> Be a U.S. citizen, U.S. national, or lawful permanent resident; </li>
      <li> Have a current, full, permanent, unencumbered, unrestricted license; </li>
      <li> Have earned a diploma, associate, baccalaureate, graduate or doctorate  </li>
      degree in nursing and have outstanding nursing educational loans;
      <li> Be employed as a full-time RN or APRN working at least 32 hours per week at
      an eligible CSF or an eligible school of nursing. </li>
     </ol>

    <br><h3>Funding Preference</h3>
  <p>>  Registered Nurses and Advanced Practice Registered Nurses: Preference will be
    given to nurses based on the greatest financial need, the type of facility where
    employed, and the mental health or primary care HPSA designation.
    Nurse Faculty: Preference will be given to nurse faculty members with the greatest
    financial need working at schools of nursing with at least 50 percent enrollment of
    students from a disadvantaged background.  </p>

    <br><h3>Where Participants Serve</h3>
    <p>Registered Nurses and Advanced Practice Registered Nurses: Public or
      private Critical Shortage Facility located in a HPSA designation: </p>
    <ul>
      <li>   Disproportionate Share Hospital (DSH) </li>
      <li>   Public Hospital </li>
      <li>   Private Hospital </li>
      <li>   Federally Qualified Health Center (FQHC) </li>
      <li>  American Indian Health Facilities </li>
      <li>   Native Hawaiian Health Center </li>
      <li>  Rural Health Clinic </li>
      <li>   Small Rural Hospital </li>
      <li>  State or Local Health Department </li>
      <li>   Nurse Managed Health Clinic/Center </li>
      <li>   Urgent Care Center </li>
      <li>  Community Mental Health Center </li>
      <li>   Free and Charitable Clinics </li>
      <li>  End Stage Renal Disease </li>
      <li> (ESRD) Dialysis Centers </li>
      <li>   Ambulatory Surgical Center </li>
      <li>   Residential Nursing Home </li>
      <li>   Home Health Agency </li>
      <li>    Hospice Program </li>
    </ul>

    <br><h3>Tax Liability</h3>
    <p>The full loan repayment award is taxable.</p>
    <a style="text-align:center;" href="https://www.benefits.gov/benefit/449" target="_blank"> Click to Learn More</a> <br>

    <!-- 6b -->
    <br><h2 style="text-align:center;"><b> DOT’s Small Business Innovation Research (SBIR) program</b></h2><br>

    <p> The Small Business Innovation Research (SBIR) program is a highly competitive program that encourages domestic small businesses to engage in Federal Research/Research and Development (R/R&D) that has the potential for commercialization. </p>
    <br><p>  Through a competitive awards-based program, SBIR enables small businesses to explore their technological potential and provides the incentive to profit from its commercialization. By including qualified small businesses in the nation's R&D arena, high-tech innovation is stimulated and the United States gains entrepreneurial spirit as it meets its specific research and development needs.   </p>
    <br><p> SBIR Mission and Program Goals  </p>

    <p> The mission of the SBIR program is to support scientific excellence and technological innovation through the investment of Federal research funds in critical American priorities to build a strong national economy. The program’s goals are four-fold:  </p>
    <ul>
      <li>  Stimulate technological innovation. </li>
      <li>  Meet Federal research and development needs. </li>
      <li>  Foster and encourage participation in innovation and entrepreneurship by women and socially or economically disadvantaged persons. </li>
      <li>   Increase private-sector commercialization of innovations derived from Federal research and development funding. </li>
    </ul>

    <br><p>Three-Phase Program:The SBIR Program is structured in three phases:  </p>

  <p> Phase I. The objective of Phase I is to establish the technical merit, feasibility, and commercial potential of the proposed R/R&D efforts and to determine the quality of performance of the small business awardee organization prior to providing further Federal support in Phase II. SBIR Phase I awards normally do not exceed $150,000 total costs for 6 months. </p>
    <p>   Phase II. The objective of Phase II is to continue the R/R&D efforts initiated in Phase I. Funding is based on the results achieved in Phase I and the scientific and technical merit and commercial potential of the project proposed in Phase II. Only Phase I awardees are eligible for a Phase II award. SBIR Phase II awards normally do not exceed $1,000,000 total costs for 2 years. </p>
    <p> Phase III. The objective of Phase III, where appropriate, is for the small business to pursue commercialization objectives resulting from the Phase I/II R/R&D activities. The SBIR program does not fund Phase III. Phase III may involve follow-on non-SBIR funded R&D or production contracts for products, processes or services intended for use by the U.S. Government. </p>

    <br><h3>Eligbility</h3>
    <p>Only United States small businesses are eligible to participate in the SBIR program. Businesses must meet all of the following criteria at the time of Phase I and II awards:  </p>

    <ol>
      <li>   Organized for profit, with a place of business located in the United State </li>
      <li>    At least 51 percent owned and controlled by one or more individuals who are citizens of, or permanent resident aliens in, the United States, OR </li>
      <li>    At least 51 percent owned and controlled by another for-profit business concern that is at least 51 percent owned and controlled by one or more individuals who are citizens of, or permanent resident aliens in, the United States </li>
      <li>   No more than 500 employees, including affiliates </li>
      <li>   The principal researcher must have primary employment with the small business </li>
      <li>  Registered on the SBA’s SBIR SBC website with an SBC Registration Control ID </li>
    </ol>

    <a style="text-align:center;" href="https://www.benefits.gov/benefit/6188" target="_blank"> Click to Learn More</a> <br>

    <!-- 6c -->
    <br><h2 style="text-align:center;"><b> Federal Supplemental Educational Opportunity Grants </b></h2><br>

    <p>Federal Supplemental Educational Opportunity Grants (FSEOG) help financially needy undergraduate students, who have not earned a bachelor's or professional degree, meet the cost of postsecondary education.  </p>
    <br><p>The program gives priority to students who receive Federal Pell Grants. FSEOG awards range from $100 to $4,000 a year depending on the financial need. The award is made by the school based on the availability of funds. A FSEOG does not need to be repaid. </p>

    <br><h3>Eligbility</h3>
    <p>To be eligible for this benefit program, you must be all of the following:  </p>
    <ul>
      <li>   A student pursuing a undergraduate degree or certificate.  </li>
      <li>   Have financial need.  </li>
    </ul>

    <br><h3>Application Process</h3>
   <p> To determine whether you are eligible to receive assistance through this program, you must first complete a Free Application for Federal Student Aid (FAFSA) online. Schools use the information from the FAFSA to determine your actual financial aid package. Your school will inform you how much money you may be eligible for that academic year. </p>

    <br><h3>Contact</h3>
<p>   Additional information about Federal Supplemental Educational Grants can be obtained on the Federal Student Aid Office's FSEOG page.
    The U.S. Department of Education's Student Aid on the Web-the gateway to Federal student aid, offers a single source of free information not only for applying for Federal aid, but also on choosing a career, selecting a school, and identifying non-Federal resources to pay for higher education. </p>

    <a style="text-align:center;" href="https://www.benefits.gov/benefit/595" target="_blank"> Click to Learn More</a> <br>

    <!-- 6d -->
    <br><h2 style="text-align:center;"><b>D.C. Higher Education Financial Services  </b></h2><br>

    <p>The Higher Education Financial Services' programs and services include, but are not limited to:  </p>
    <p>The D.C. Adoption Scholarship (DCAS)- DCAS offers grant awards up to $10,000 per year for up to six years, with a lifetime maximum of $50,000, to District of Columbia children adopted through D.C. Child and Family Services Agency and/or children who have lost one or both parents in the September 11, 2001 terrorist attacks. </p>
    <p> The D.C. Tuition Assistance Grant (DCTAG)- DCTAG assists D.C. residents with out-of-state tuition by paying the difference between in-state and out-of-state tuition up to $10,000 a year for 6 years, with a lifetime maximum of $50,000. Undergraduate students who choose to attend private colleges and universities in the D.C. metropolitan area, including any private Historically Black Colleges and Universities (HBCUs) are eligible to receive a grant for up to $2,500 a year, with a lifetime maximum of $12,500. The maximum annual award for two year community colleges is $2,500, with a lifetime maximum of $10,000. </p>
    <p>  All awards are processed on a first-come, first served basis and paid directly to the eligible institution. </p>

    <br><h3>Eligbility</h3>
    <p> Eligibility criteria for all programs include: </p>

    <ol>
      <li>  Proof of U.S. citizenship or legal U.S. residency. </li>
      <li>    A minimum of 12-month D.C. residency prior to the initial application. </li>
      <li>    Good academic standing as defined by the postsecondary institution. </li>
      <li>    No current default status with any federal student loans. </li>
      <li>   Enrollment in an Associate's or Bachelor's degree seeking program. </li>
      <li>   No older than 25 years of age at the time of application (first-time applicants, DCTAG only). </li>
    </ol>
    <a style="text-align:center;" href="https://www.benefits.gov/benefit/2751" target="_blank"> Click to Learn More</a> <br>
  </ng-container>







  <!-- Continue Buttons -->
  <a style="text-align:center;">
    <mat-card>
      <button mat-button  [disabled]="delayflag1" color="primary" routerLink="/Community2"> <b> Continue </b></button>
    </mat-card> </a> <br>

</div>
<div class="class3" >
</div>
