.mat-tab-label-active {
  color: #00ADEE !important;
}

.colorc{
  color: #f0fff3;
  background-color: #3498DB;
  border-radius: 4px;
}

.fontawesomesvg {width: 1em;
  height: 1em;
  vertical-align: -.125em;
}
