
<!-- class1 is ad space left-->
<div class="class1" >
</div>
<!-- class2 is center main content -->
<div class="class2" >

<h1 style="text-align:center;"> <b> Names of all Candidates and Senators on SoWhat Vote!
  <a  *ngIf="(cookiedenied=='yes' && authenticator.route != 'authenticated') || (cookiedenied=='yes' && stateuserCA=='yes')">

    <!--communicated to google tags that permission to store user info is denied since user is CA resident-->
      <a id="GTM-TVJ45PB" >:</a>
    </a>
</b></h1>

<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
    <!-- use a disabled button to provide padding for tree leaf -->
    <button mat-icon-button disabled></button>
    {{node.name}}
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
    <button mat-icon-button matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.name">
      <mat-icon class="mat-icon-rtl-mirror">
        {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
      </mat-icon>
    </button>
    {{node.name}}
  </mat-tree-node>
</mat-tree>


 <br> <mat-divider></mat-divider>
  <small> Disclaimer: Please visit your local Secretary of State office for the latest candidate and election information. The voting in the surveys on SoWhat Vote! DOES NOT represent the actual 2022 midterm election voting results. The SoWhat Vote! survey results are only for educational purposes. </small>
  <br>  <small> Earn SoWhat Vote! 100 loyalty points by clicking YEA or NAY. Also, earn 50 loyalty points by viewing survey results. </small>




</div>
<!-- class3 is ad space right-->
<div class="class3" >
</div>
