.demo-form-field3 {
  width: 350px;
  margin-top: 16px;
}

.terms-button {
  padding: 0;
  border: none;
  background: none;
}

.class4{
  width: 100%;
  float: left;
  height: 100%;
  padding: 15px;
}
