

  <mat-tab-group animationDuration="0ms" class="menu-tab"  text-align="center" [selectedIndex]=this.tab3index>

    <mat-tab label="tab3label" >
      <ng-template mat-tab-label>
        tab3 &nbsp;
      </ng-template>
      <ng-template matTabContent>
        <app-tab3displaynav></app-tab3displaynav>   <!--  tab3 code displays -->
      </ng-template>
    </mat-tab>
    <mat-tab label="tab3Blabel">
      <ng-template mat-tab-label>
        tab3B &nbsp;
      </ng-template>
      <ng-template matTabContent>
        <app-tab3bdisplaynav></app-tab3bdisplaynav>   <!--  tab3B code displays -->
      </ng-template>
    </mat-tab>
  </mat-tab-group>

<router-outlet></router-outlet>
